script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")

script(src="assets/js/bootstrap.min.js")
script(src="assets/js/slick.min.js")

script(src="assets/js/retina.min.js")
script(src="assets/js/accordion.js")
