.cabinet {
    background-color: @landing-bg-alt;

    .block {
        padding: @section-content-padding/2;
    }

    .pay-take {
        display: table;
        font-family: @family-proxima-lt;

        h1 {
            margin: 0;

            .font-size(@font-size-large, 8);
        }

        p {
            margin: @indent-default 0;
            .font-size(@font-size-default, 6);
        }

        a {
            display: block;
            color: @substrate-link-color;
        }

        img {
            vertical-align: top;
            max-width: 100%;
        }
    }

    .categories {
        margin-top: @section-content-padding/2 - @indent-default;
        margin-right: -@indent-default/2;
        margin-left: -@indent-default/2;
        font-size: 0;

        .separator {
            margin: @indent-default*2 @indent-default/2 @indent-default @indent-default/2;

            background-color: #d2d3d4;
            height: 1px;
        }

        h1 {
            margin: 0 0 @indent-default 7px;
            font-family: @family-proxima-lt;
			font-weight:300;
            .font-size(@font-size-large);
        }

        a {
            display: inline-block;
            padding: 0 @indent-default/2;
            margin-top: @indent-default;

            color: @font-black-color;
            text-decoration: none;

            .title-wrapper {
                background-color: white;
                border: 1px #e6e6e6 solid;
                border-top: none;

                height: 99px;

                .pattern-cell();
            }

            span {
                display: block;
                font-family: @family-proxima-lt;

                text-align: center;

                .font-size(18px);
            }

            img {
                vertical-align: top;
                max-width: 100%;
            }
        }
		.header-price {
				a{color: inherit;text-decoration:none;}
			}

			.header-id {
				a{color: inherit;text-decoration:none;}
			}

			.exit {
				a{color: inherit;text-decoration:none;}
			}
		
    }
		
		.history{
			background-color:#fff; 
			padding:35px;
			margin:30px auto;
			font-family: @family-proxima-lt;
			h1{font-weight:300;}
			.stroke{
				display:table;
				width:100%;
				border-bottom:1px solid #e5e5e5;
				min-height:50px;
				line-height:50px;
				div{padding:0px 15px;display:table-cell}
				.cell1{text-align:right;color:#1e9431;font-size:18px;width:10%}
				.cell2{text-align:left;color:#000000;font-size:16px;width:70%;}
				.cell3{text-align:right;color:#999999;font-size:12px}
				
				.spisanie{font-size:18px;color:#000}
				
				}
			
			.first{border-top:1px solid #e5e5e5}
			
			.btn-send {
            padding: 12px 30px;
            border: 0px;
            border-bottom: 3px solid #e6b000;
            background-color: #ffd21f;
            font-family: 'Proxima Nova Lt';
            color: #262626;
            font-size: 20px;
            margin-top:20px;
			left:0px;
            line-height: 1.42857143;
            border-radius: 4px;
            font-weight: 300;
            box-sizing: border-box;
            float: left;
			cursor:pointer;
            &:hover {
                background: #f7d343;
                border-color: #f3ca45;
            }

			}
			.history-button{display:inline-table}		
	}	
	
}

