.header-wrapper {
    position: relative;
    box-shadow: @shadow-header;
    z-index: @index-header;

    padding: 0 @indent-default;

    background-color: white;

    .header {
        position: relative;
        margin: 0 auto;

        height: @header-height-default;
        max-width: @container-lg-max;

          .static {
            height: inherit;
			width:50%;
			float:left;
            .pattern-cell();

            .logo {
                font-size: 0;

                &.loyalty { width: @logo-loyalty-width; }

                a { display: inline-block; }

                img { vertical-align: top; }
            }
        }

        .dynamic {
            position: absolute;
            top: 0;
            text-align: right;
			right:0;
            height: inherit;
            text-align:right;
            .pattern-cell(50%);

        }
    }

}

.page-wrapper {
    margin: 0 auto;
    max-width: @screen-lg-max;

    .page-container {
        padding: 0 @indent-default;
        &--dark {
            background-color: #f5f6f7;
        }

        &>div {
            margin: 0 auto;
            max-width: @container-lg-max;
        }
    }
}

.footer-wrapper {
    margin-top: @section-content-padding/2;
    padding: 0 @indent-default;

    border-top: @f-copy-border-width @f-copy-border solid;
    background-color: @footer-bg-alt;

    .footer {
        margin: 0 auto;
        display: table;
        
        max-width: @container-lg-max;
        width:  100%;

        padding-bottom: @section-content-padding/2;

        .info {
            display: table;
            width: 100%;
        }

        .block {
            padding-top: @section-content-padding/2;
            float: left;

            &.social, &.links {

                a { 
                    display: block;

                    font-family: @family-proxima-lt;
                    font-size: @font-size-default;

                    line-height: @f-social-icon-size;
                    color: @font-black-color;

                    margin-top: @indent-default;
                }
            }

            &.social {

                a { 
                    position: relative;
                    display: block;

                    padding-left: @f-social-icon-size + @indent-default;

                    img {
                        position: absolute;
                        left: 0;
                        top: 0;

                        height: @f-social-icon-size;
                        width: @f-social-icon-size;
                    }
                }
            }

            .title {
                margin-bottom: @indent-default;
                
                .font-size(@font-size-medium);
            }

            .owner {
                display: block;
                font-family: @family-proxima-lt;
                color: @footer-owner-color;

                .font-size(@font-size-default);
            }

            .phone {
                margin-top: @indent-default*2;

                .font-size(@font-size-large);
            }

            .footnote {
                margin-top: @indent-default/2;

                .font-size(@font-size-small);
            }

            span {
                display: block;
                font-family: @family-proxima-rg;
            }
        }

        .copy {
            display: table;
            clear: left;
            width: 100%;

            margin-top: @section-content-padding/2;
            padding-top: @section-content-padding/2;

            border-top: @f-copy-border-width @f-copy-border solid;
            color: @f-copy-font-color;

            font-family: @family-proxima-lt;

            .font-size(@font-size-small);

            span {
                display: block;
                float: left;
            }
        }
    }
}


// Time location

.substrate {
    background-color: white;
    border-radius: @border-radius-default;

    padding: @section-content-padding/2 0;
	display:table;
	width:100%;

    // Child

    .form-block {
        margin: 0 auto;
        max-width: 480px;

        .message {
            font-family: @family-proxima-lt;
            color: @substrate-message-color;

            .font-size(@font-size-small);

            span {
                color: @font-black-color;
            }

            &+.textbox {
                margin-top: @indent-default*2;
            }
        }

        .textbox {
            [type="password"] {
                padding-right: 103px + @indent-default*2;
            }
        }
    }

    .info-block {
        margin: 0 auto;
        max-width: 620px;

        font-family: @family-proxima-lt;
        
        h1 {
            margin: 0;
            font-family: @family-proxima-lt;

            .font-size(@font-size-large);
        }

        p, ul {
            margin-top: @indent-default;
        }

        p {
            margin-bottom: 0;

            .font-size(@font-size-default, 6);
        }

        ul {
            margin-bottom: 0;

            .font-size(@font-size-default);

            li {
                color: #1f7e35;

                &:not(:last-child) {
                    margin-bottom: @indent-default/4;
                }

                span {
                    color: @font-black-color;
                }
            }
        }

        a {
            margin-top: @indent-default/4;

            display: block;
            color: @substrate-link-color;
        }
    }

    .separator {
        margin: @section-content-padding/2 0;
        height: @substrate-separator-width;
        background-color: @substrate-separator-border;
    }

    // Common

    .title {
        font-family: @family-proxima-lt;

        .font-size(@font-size-large);

        &+form {
            padding-top: @indent-default;
        }
    }

    form {
        font-size: 0;

        &>* { margin-top: @indent-default; }

        .control {
            position: relative;

            .link {
                display: block;
                position: absolute;
                right: 0;
                top: 0;

                font-family: @family-proxima-rg;
                font-size: @font-size-medium;

                line-height: @btn-height-default;

                color: @textbox-link-color;
            }
        }
    }
}

@media (max-width: 560px) {
    .page-wrapper .page-container {
        padding: 0;
    }
    .substrate {
        margin-top:0;
        padding: @section-content-padding/2 @section-margin-adaptive;
    }
}

.send-code {
    color: @menu-color-green;
}