.landing {

    &.alt-bg { background-color: @landing-bg-alt; }

    .header {

        .rshb {
            text-align: right;
        }

        .dynamic {
			right:240px;
        }
    }

    .novelty {
        margin-bottom: @section-content-padding/2;

        .item-wrapper {
            position: relative;

            img { vertical-align: top; }

            .item {
                position: absolute;
                left: 0;
                top: 0;

                height: 100%;

                .content-wrapper {
                    height: inherit;

                    .pattern-cell(auto);
                }

                .content {
                    padding-left: @novelty-content-padding - @novelty-line-size;
                    border-left: @novelty-line-color @novelty-line-size solid;

                    span {
                        display: block;
                    }
                }

                .label {
                    font-family: @family-proxima-lt;

                    .font-size(@novelty-label-font-size);
                }

                .title {
                    margin: 38px 0;
                    font-family: @family-proxima-rg;

                    .font-size(@font-size-h1, 5);
                }
            }
        }

        .slick-dots {
            position: absolute;
            left: @novelty-content-padding;
            bottom: @novelty-dots-bottom;

            padding-left: 0;
            margin: 0;

            list-style-type: none;
            font-size: 0;

            li {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: @indent-default;
                }
            }

            .slick-active {

                button {
                    background-color: @novelty-dots-color-active;
                }
            }

            button {
                border: @novelty-dots-border @novelty-dots-border-color solid;
                background-color: @novelty-dots-color;
                border-radius: 50%;

                padding: 0;
                margin: 0;

                font-size: inherit;
                cursor: pointer;

                height: @novelty-dots-size - @novelty-dots-border;
                width: @novelty-dots-size - @novelty-dots-border;

                &::-moz-focus-inner {
                    border: none;
                    padding: 0;
                }
            }
        }
    }

    .section {
        padding: @section-content-padding/2 0;

        &.how-it-works {

            .concept {
                display: table;
                width: 100%;

                .stage {
                    text-align: center;
                    float: left;

                    img {
                        height: @concept-img-height;
                        vertical-align: top;
                    }

                    span {
                        display: block;

                        font-family: @family-proxima-rg;
                        font-size: @font-size-medium;

                        text-decoration: underline;
                        color: @concept-span-color;
                    }
                }
            }

            p {
                margin-top: @section-content-padding/2 - 22px;
                margin-bottom: 0;

                font-family: @family-proxima-lt;
                text-align: center;

                .font-size(@font-size-default, 12);
            }
        }

        &.how-to-start {
            text-align: center;

            .invitation {
                background-image: url(../assets/img/how-to-start-background.jpg);
                background-size: cover;
                
                margin-top: @section-content-padding/2;
                height: @invitation-minheight;

                .pattern-cell();

                &>div {
                    border-left: @invitation-border-size @invitation-line-color solid;
                    border-right: @invitation-border-size transparent solid;
                }

                .label {
                    display: block;
                    color: white;

                    margin-bottom: @indent-default*2;

                    font-family: @family-proxima-lt;

                    .font-size(@font-size-large);
                }
            }
        }

        &.how-to-getbonus {

            .bankcard {
                display: table;
                margin-top: @section-content-padding/2;

                &>div {
                    font-family: @family-proxima-rg;
                    float: left;
                }

                img {
                    vertical-align: top;
                    max-width: 100%;
                }

                p {
                    margin: 0;

                    .font-size(@font-size-p, 10);

                }

                a {
                    display: block;

                    margin-top: @indent-default*2;
                    color: @bankcard-link-color;

                    .font-size(@font-size-p);
                }
            }
        }

        &.web-service {
            display: inline-block;
            width: 100%;

            .flat-link {
                position: relative;
                float: left;

                &:first-child {
                    border-left: @ws-flink-border-width @ws-flink-border solid;
                    
                    .marker {
                        background-color: @ws-flink-marker-color;
                        width: @ws-marker-size;
                    }

                    .art { width: 60px; }
                }

                &:last-child {

                    .art { width: 120px; }
                }

                &:hover {
                    background-color: @ws-flink-bg-hover;
                }

                border-right: @ws-flink-border-width @ws-flink-border solid;

                border-top: @ws-flink-border-width @ws-flink-border solid;
                border-bottom: @ws-flink-border-width @ws-flink-border solid;

                height: @web-service-link-height;

                padding: 0 @indent-default*2;

                font-family: @family-proxima-lt;
                color: black;

                .font-size(@font-size-default, 12);

                .pattern-cell(50%);

                .marker {
                    position: absolute;
                    left: 0;
                    top: 0;

                    height: 100%;
                }

                .art { padding-right: @indent-default*2; }

                img { vertical-align: middle; }
            }
        }

        &.how-to-exchange {
            counter-reset: steps; 

            .points-exchange-scheme {
                margin-top: @section-content-padding/2;

                .nav {
                    display: table;
                    margin-top: 0;



                    font-family: @family-proxima-rg;
                    font-size: @font-size-default;

                    li {

                        &:not(:last-child) {

                            a {
                                border-right: none;
                            }
                        }
    
                        &.active {

                            .marker { background-color: @ex-active-marker-color !important; }

                            a {
                                background-color: #f5f6f7;
                            }
                        }
                    }

                    a {
                        border-color: @ex-link-border;
                        height: @ex-link-height;

                        padding-bottom: 0;
                        padding-top: 0;
                        
                        border-radius: 0;
                        margin: 0;

                        color: @font-black-color;
                        text-decoration: none;

                        line-height: normal;

                        &:hover {
                            background-color: #fffceb;
                        }

                        .pattern-cell();

                        .marker-wrapper {
                            width: @ex-marker-wrp-width;
                            text-align: center;

                            .marker {
                                display: inline-block;

                                width: @ex-marker-size;
                                height: @ex-marker-size;
                                border-radius: 50%;
                            }
                        }

                        em {
                            font-style: normal;
                            display: none;
                        }
                    }
                }
            }

            .tab-content {
                padding-top: @ex-marker-wrp-width;
                text-align: center;

                img {
                    vertical-align: top;
                    max-width: 100%;
                }
            }
        }

        &.last-news {
            border: 1px @lnews-border solid;
            padding-top: @section-content-padding/2;
            padding-bottom: @section-content-padding/2;
			padding-right:@section-content-padding/2;
			padding-left:@section-content-padding/2;
            
            .title {
                font-family: @family-proxima-rg;
                color: @concept-span-color;

                .font-size(@lnews-title-size);
            }

            .news {
                margin-top: @section-content-padding/2;

                .date {
                    display: block;
                    font-family: @family-proxima-lt;
                    color: @news-date-color;

                    .font-size(@font-size-small);
                }

                a {
                    display: block;
                    margin-top: @indent-default;
                    font-family: @family-proxima-rg;
                    color: @news-link-color;

                    .font-size(@font-size-default,12);
                }
            }
        }

        h1 {
            margin: 0 auto;

            font-family: @family-proxima-rg;
            font-weight: normal;

            text-align: center;

            color: @landing-h1-color;

            .font-size(@font-size-h1);
        }
    }
}