.menu_overlay {
  position: absolute;
  z-index: @index-menu - 1;
  width: 100%;
  height:100%;
  display:none;
  content: '';
  margin: 0;
  left: 0;
  top: 0;
}
aside.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 2300px;
  width: 560px;
  z-index: @index-menu;
  background-color: @menu-color-white;
  .close {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    background: transparent url(../assets/img/close.png);
    background-size: 20px 20px;
    cursor: pointer;
    margin: 20px 20px 0 0;
  }
  .inactive {
    height: 0;
    min-height: 0;
  }
  nav.menu-main {
    width:100%;
    padding: 65px 68px;
    background-color: @menu-color-green;
    ul {
      margin:0 0 50px 0;
      padding:0;
    }
    li {
      list-style-type: none;
      font-size: @font-size-small;
      line-height: @font-size-large;
      &, a, a:hover {
        color: @menu-color-white;
        text-decoration:none;
      }
      a:hover {
        color: @menu-color-hover;
      }
    }
  }
  nav.menu-primary {
    width:100%;
    padding: 60px 68px;
    .span-h3 {
      font-size: @font-size-large;
      display: block;
      margin: 0 0 45px 0;
    }
    ul {
      margin:15px 0;
      padding:0 0 50px 0;
    }
    li {
      list-style-type: none;
      font-size: @font-size-small;
      line-height: @font-size-large;
      &, a, a:hover {
        color: @menu-color-black;
        text-decoration:none;
      }
      a:hover {
        color: @menu-color-hover-ptimary;
      }
      & > ul {
        padding: 40px;
        width: 100%;
        background-color: @menu-color-gold;
      }
    }
    &.active {
      &, a, a:hover {
        color: @menu-color-gray;
      }
    }
  }
}
@media (max-width: 560px) {
  aside.menu {
    width:100%;
    height:100%;
    min-width: 300px;
  }
}
.menu.fade.in + .menu_overlay {
  display: block;
}