@import "../variables";
.news-title {
    color: #1f1f1f;
    font-family: @family-proxima-lt;
    font-size: 26px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 33px;
    @media (min-width: 1024px) {
        color: #1f1f1f;
        font-family: @family-proxima-lt;
        font-size: 46px;
        font-weight: 300;
        margin-bottom: 56px;
    }
}

.news {
    margin: 0 0 48px;
    padding: 0;
    list-style-type: none;
    @media (min-width: 1024px) {}
    &__item {
        margin-bottom: 45px;
        @media (min-width: 1024px) {
            margin-bottom: 80px;
        }
    }
    &__title {
        color: #1e9431;
        font-family: @family-proxima-lt;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-decoration: underline;
        margin-bottom: 19px;
        display: inline-block;
        &:hover {
          text-decoration: none;
        }
        @media (min-width: 1024px) {
            color: #1e9431;
            font-family: @family-proxima-lt;
            font-size: 24px;
            font-weight: 400;
            text-decoration: underline;
            margin-bottom: 24px;
        }
    }
    &__date {
        color: #999;
        font-family: @family-proxima-lt;
        font-size: 9px;
        font-weight: 400;
        margin-bottom: 20px;
        @media (min-width: 1024px) {
            color: #999;
            font-family: @family-proxima-lt;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 26px;
        }
    }
    &__text {
        color: black;
        font-family: @family-proxima-lt;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        @media (min-width: 1024px) {}
    }
}

.pagination {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    @media (min-width: 1024px) {}
    &__item {
        color: #1e9431;
        font-family: @family-proxima-lt;
        font-size: 21px;
        line-height: 50px;
        font-weight: 400;
        display: inline-block;
        text-decoration: none;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        vertical-align: middle;
        &:hover {
          color: #1f1f1f;
        }
        @media (min-width: 1024px) {}
        &--active {
            border: 2px solid #1f9933;
            border-radius: 50%;
            &:hover {
              border-color: #1f1f1f;
            }
            @media (min-width: 1024px) {}
        }
    }
}
