@import "../variables";
.news-item {
    color: black;
    font-family: @family-proxima-lt;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    @media (min-width: 1024px) {
        color: black;
        font-family: @family-proxima-lt;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
    }
    &__title {
        color: #1f1f1f;
        font-family: @family-proxima-lt;
        font-size: 22px;
        font-weight: 300;
        line-height: 28px;
        margin-bottom: 24px;
        margin-top: 0;
        @media (min-width: 1024px) {
            color: black;
            font-family: @family-proxima-lt;
            font-size: 46px;
            font-weight: 300;
            line-height: 56px;
            margin-bottom: 45px;
        }
    }
    &__date {
        color: #999;
        font-family: @family-proxima-lt;
        font-size: 9px;
        font-weight: 400;
        margin-bottom: 30px;
        @media (min-width: 1024px) {
            color: #999;
            font-family: @family-proxima-lt;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 66px;
        }
    }
    & p {
        color: black;
        font-family: @family-proxima-lt;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        @media (min-width: 1024px) {
            color: black;
            font-family: @family-proxima-lt;
            font-size: 20px;
            font-weight: 300;
            line-height: 30px;
        }
    }
}
