@import "../variables";
.roadmap-card {
    padding-bottom: 51px;
    @media (min-width: 1024px) {
        padding-bottom: 60px;
        margin-top: 56px;
    }
    &::after {
        @media (min-width: 1024px) {
            clear: both;
            display: table;
            content: "";
        }
    }
    &__left {
        text-align: center;
        @media (min-width: 1024px) {
            text-align: left;
            float: left;
            width: 50%;
        }
    }
    &__img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        @media (min-width: 1024px) {
            margin-left: -42px;
            margin-top: -20px;
        }
    }
    &__right {
        text-align: center;
        @media (min-width: 1024px) {
            text-align: left;
            float: left;
            width: 50%;
            padding-left: 35px;
        }
    }
    &__title {
        color: black;
        font-family: @family-proxima-lt;
        font-size: 26px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 20px;
        @media (min-width: 1024px) {
            color: black;
            font-family: @family-proxima-lt;
            font-size: 55px;
            font-weight: 300;
            line-height: 60px;
            margin-bottom: 33px;
        }
    }
    &__text {
        color: black;
        font-family: @family-proxima-lt;
        font-size: 14px;
        font-weight: 300;
        line-height: 19px;
        margin-top: 0;
        margin-bottom: 28px;
        @media (min-width: 1024px) {
            color: black;
            font-family: @family-proxima-lt;
            font-size: 20px;
            font-weight: 300;
            line-height: 30px;
            margin-bottom: 40px;
        }
    }
    &__btn.btn {
        background-color: @btn-bright-bg;
        border-radius: 5px;
        box-shadow: inset 0 -2px 0 @btn-bright-shadow;
        text-align: center;
        color: black;
        font-family: @family-proxima-lt;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.2em;
        text-decoration: none;
        padding: 15px 32px;
        display: inline-block;
        height: auto;
        @media (min-width: 1024px) {
            color: black;
            font-family: @family-proxima-lt;
            font-size: 22px;
            font-weight: 300;
            line-height: 31px;
            padding: 20px 38px;
        }
        &:hover,
        &:hover {
            background-color: @btn-bright-bg-active
        }
    }
}

.roadmap-feature {
    margin: 0px ;
    padding: 155px 0 38px;
    list-style-type: none;
    @media (min-width: 1024px) {
        font-size: 0;
        vertical-align: top;
    }
    &__item {
        padding-left: 45px;
        padding-right: 45px;
        text-align: center;
        margin-bottom: 32px;
        @media (min-width: 1024px) {
            width: 33.33333333%;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 80px;
            padding-left: 60px;
            padding-right: 60px;
            box-sizing: border-box;
        }
    }
    &__img-box {
        height: 42px;
        width: auto;
        margin-bottom: 15px;
        @media (min-width: 1024px) {
            height: 104px;
            margin-bottom: 38px;
        }
    }
    &__img {
        max-height: 100%;
        width: auto;
    }
    &__text {
        color: #1f991f;
        font-family: @family-proxima-lt;
        font-size: 16px;
        font-weight: 300;
        margin: 0;
        @media(min-width: 1024px) {
            color: #1e9431;
            font-family: @family-proxima-lt;
            font-size: 22px;
            font-weight: 300;
            line-height: 1.2;
        }
    }
}

.roadmap-choice {
    width: 100%;
    max-width: 1200px;
    &::after {
        @media (min-width: 1024px) {
            clear: both;
            display: table;
            content: "";
        }
    }
    &__item {
        background-color: white;
        border: 1px solid #e6e6e6;
        margin-bottom: 10px;
        padding: 40px 20px;
        padding-left: 80px;
        position: relative;
        display: block;
        &:hover {
            background-color: #fffceb;
        }
        @media(min-width: 1024px) {
            float: right;
            width: 50%;
            box-sizing: border-box;
            padding-left: 200px;
            padding-right: 60px;
            
        }
        &:last-child {
            @media(min-width: 1024px) {
                border-left: 7px solid @btn-bright-bg;
            }
        }

        &:first-child {
            @media(min-width: 1024px) {
                border-left: 0;
            }
        }
    }
    &__img {
        position: absolute;
        left: 20px;
        width: 40px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        @media(min-width: 1024px) {
            width: 120px;
            position: static;
            margin-left: -160px;
            float: none;
            vertical-align: middle;
            margin-right: 33px;
            float: left;
            
        }
    }
    &__link {
        color: #262626;
        font-family: @family-proxima-lt;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        text-decoration: underline;
        @media(min-width: 1024px) {
            color: black;
            font-family: @family-proxima-lt;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.6;
            text-decoration: underline;
            padding-top: 7px;
            
        }
    }
}
