.new-window-link {
  font-size: @font-size-small;
  color: #666;
  text-decoration: underline;
  float: right;
  margin: 10px 0;
}

.icr-label {
  position: relative;
  display: inline-block;
  padding-right: 2px;
  margin: 0 5px 5px 0;
  font-size: @font-size-default; line-height: @font-size-default;
  &.agree {
    margin: 24px 0 16px 0;
  }

  .type_checkbox {
    background-position: 0 0;
  }

  .type_radio {
    background-position: 0 -50px;
  }

  &:hover {
    .type_checkbox {
      background-position: -50px 0;
    }
    .type_radio {
      background-position: -50px -50px;
    }
  }

  &.checked {
    .type_checkbox {
      background-position: -150px 0;
    }
    .type_radio {
      background-position: -150px -50px;
    }
    &:hover {
      .type_checkbox {
        background-position: -150px 0;
      }
      .type_radio {
        background-position: -150px -50px;
      }
    }
    &.disabled {
      .type_checkbox {
        background-position: -100px 0 !important;
      }
      .type_radio {
        background-position: -100px -50px !important;
      }
    }
  }

  &.disabled {
    opacity: 0.5;
    .type_checkbox {
      background-position: 0 0 !important;
    }
    .type_radio {
      background-position: 0 -50px !important;
    }
  }

  .focused {

    .icr-item:after {
      position: absolute;
      display: block;
      content: "";
      top: -2px; left: -2px;
      border: 1px dotted rgba(0, 0, 0, 0.3);
    }
    .type_checkbox:after {
      width: 25px; height: 25px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    .type_radio:after {
      width: 22px; height: 22px;
      -webkit-border-radius: 22px;
      -moz-border-radius: 22px;
      border-radius: 22px;
    }
  }
}

.icr-hidden {
  position: absolute;
  display: block;
  top: 0; left: 0;
  width: 0; height: 0;
  overflow: hidden;
}

.icr-input {
  position: absolute;
  display: block;
  top: -20px; left: -20px;
}

.icr-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 23px; height: 23px;
  background: url(../assets/img/icr-green-skin.png) no-repeat;
}