doctype html
html
    head
        block title

        include head/meta
        //- include head/script
        
        link(rel="stylesheet" href="assets/css.css")
        link(rel="stylesheet" href="assets/style.css")
        link(rel="stylesheet" href="assets/bootstrap.min.css")
        
        include head/script

    body.landing.alt-bg

        .header-wrapper
            .header
                .static
                    .logo.loyalty: a(href="/"): img(src="assets/img/logo_loyalty.png")
                .dynamic(style='right:30px;')
                    .exit Выход
                    .header-id.header__content
                        img(src='assets/img/icon-user.png')
                        span 1234567890
                    .header-price.header__content
                        img(src='assets/img/icon-kosh.png')
                        span 3724


        .page-wrapper
            block content

        include block/footer
