doctype html
html
    head
        block title

        include head/meta
        //- include head/script
        
        link(rel="stylesheet" href="assets/style.css")

    body.cabinet

        .header-wrapper
            .header
                .static
                    .logo.loyalty: a(href="/"): img(src="assets/img/logo_loyalty.png");
                    .logo.rshb: a(href="/"): img(src="assets/img/logo_rshb.png")

        .page-wrapper
            block content

        include block/footer