doctype html
html
    head
        block title

        include head/meta
        
        link(rel="stylesheet" href="assets/style.css")

    body.landing

        .header-wrapper
            .header
                .static
                    .logo.loyalty: a(href="/"): img(src="assets/img/logo_loyalty.png")
                    .logo.rshb: a(href="/"): img(src="assets/img/logo_rshb.png")

                .dynamic: div
                    button.btn.btn-light
                        img(src="assets/img/icon-lock.png")
                        span Войти

        .page-wrapper
            block content

        include block/footer
    
    include head/script

    script.
        $(document).ready(function () {

            $('#slides').slick({
                autoplaySpeed: 6000,
                pauseOnHover: false,
                draggable: false,
                autoplay: false,
                arrows: false,
                fade: true,
                dots: true
            });
        })