extends _layer.landing_dark


block title
    title

block content

    .page-container: div
        .substrate
            
            .form-block
                span.title Вход для участников
                form
                    .textbox
                        input(type="text" placeholder="Ваш ID")

                    .textbox
                        input(type="password" placeholder="Пароль")

                        .toolbar: a(href="/") Забыли пароль?

                    .control
                        button(type="submit").btn.btn-bright: span Готово
                        a(href="/").link: span Впервые здесь