extends _layer.cabinet

block title
    title

block content

    .page-container: div

        .substrate.block
            .pay-take
                .art: img(src="assets/img/fixtures-payment.png")
                .text
                    h1 Платите картой — получайте баллы
                    p 15% от суммы покупок по вашим картам зачисляются на бонусный счет в виде баллов.
                    a(href="/"): span Получайте больше баллов с «Путевой картой»


        .categories
            h1 Каталог вознаграждений

            - for(i=0;i<2;i++)
                a(href="/"): div
                    img(src="assets/img/fixtures-category.jpg")
                    .title-wrapper: div
                        span Название категории
            .separator
    
            - for(i=0;i<12;i++)
                a(href="/"): div
                    img(src="assets/img/fixtures-category.jpg")
                    .title-wrapper: div
                        span Название категории
