extends _layer.inner


block title
    title

block content

    .page-container.col-md-12.col-xs-12
      .category-befor
        .menu-header
          button.btn.btn-light
            img(src='assets/img/menu-btn.png')
            span Меню
        .search
          img(src='assets/img/icon-search.png')
          input(type='text', placeholder='Искать по названию')
        .hidden-xs.back
        
      .category-befor
        .breadcrumbs
          h2 Помощь и поддержка
          
      .page-container.of
        div
          .substrate
            .inner__content
              .help__block
                .title Начисление баллов
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Не начислилиcь баллы за действия в соцсетях
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Отладка работы сайтов на хостинге
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Мои письма часто попадают в спам
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Начинаем работу с хостингом
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Начинаем работу с VPS
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Как сменить версию PHP или подключить нужный модуль
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
              .help__block
                .title Заказ и получение вознаграждений
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Не начислилиcь баллы за действия в соцсетях
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Отладка работы сайтов на хостинге
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Мои письма часто попадают в спам
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link Начинаем работу с хостингом
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Начинаем работу с VPS
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                  
                .accordion.js-accordion
                  .accordion__link.js-accordion_link  Как сменить версию PHP или подключить нужный модуль
                  .accordion__content.js-accordion_content
                    | Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит, какой именно текст получится — таким образом, авторские права на реферат принадлежат только вам.
                
            .separator
            
            .inner__content
              form.help__form
                .title Написать нам
                .textbox.clearfix
                  span Тема обращения
                  .select.styled-select
                    select
                      option Первая опция
                      option Вторая опция
                      option Третья опция
                .textbox.clearfix
                  span Эл. почта
                  input(type='text')
                .textbox.clearfix
                  span ID Участника
                  input(type='text')
                .textbox.clearfix
                  textarea(placeholder='Введите текст сообщения')
                .control
                  button.btn.btn-bright(type='submit')
                    span Отправить
