extends _layer.landing

block title
    title

block content

    .novelty#slides: - for(i=0;i<3;i++)
        .item-wrapper
            img(src="assets/img/fixtures-banner.jpg");

            .item: .content-wrapper: div
                .content
                    span.label Программа лояльности Россельхозбанка
                    span.title Получайте подарки<br>за покупки по карте

                    button.btn.btn-bright: span Подключиться к программе

    .page-container: div
        .section.how-it-works
            h1 Как работает программа
            p Универсальная программа лояльности «Урожай» объединяет в себе элементы авиакобрендов, карт с CashBack и дисконтных карт. Бонусные баллы можно потратить на товары из каталога вознаграждений.

            .concept
                .stage
                    img(src="assets/img/icon-desktop.png")
                    span Получите ID участника и подключитесь к программе

                .stage
                    img(src="assets/img/icon-bonus.png")
                    span Получайте баллы за покупки по карте

                .stage
                    img(src="assets/img/icon-basket.png")
                    span Тратьте баллы на подарки для себя и близких

        .section.how-to-start
            h1 Как стать участником

            .invitation: div
                span.label Подключитесь, собирайте баллы, получайте подарки
                button.btn.btn-bright: span Подключиться к программе

        .section.how-to-getbonus
            h1 Платите картой и получайте баллы

            .bankcard
                div: img(src="assets/img/payment.png")
                div
                    p 15% от суммы покупок по вашим картам зачисляются на бонусный счет в виде баллов. Опцию могут бесплатно подключить все клиенты – держатели платёжных карт АО «Россельхозбанк»
                    a(href="/"): span Какие карты участвуют в программе

        .section.web-service
            a(href="/").flat-link
                div.art: img(src="assets/img/icon-calc.png")
                div.text
                    text Калькулятор бонусных баллов:<br>рассчитайте вашу выгоду от программы
                    span.marker

            a(href="/").flat-link
                div.art: img(src="assets/img/paymantcard-s.png")
                div.text
                    text Получайте повышенный CashBack и другие бонусы с «Путевой картой»
                    span.marker

        .section.how-to-exchange
            h1 Меняйте баллы на подарки

            .points-exchange-scheme
                ul.nav.nav-tabs
                    li.active
                        a(data-toggle="tab" href="#gift")
                            span.marker-wrapper: span.marker 1
                            span Выберите подарки на нашей витрине
                    li
                        a(data-toggle="tab" href="#order")
                            span.marker-wrapper: span.marker 2
                            span Укажите адрес доставки
                    li
                        a(data-toggle="tab" href="#delivery")
                            span.marker-wrapper: span.marker 3
                            span Мы доставим <em>ваш</em> подарок в любую точку России

                .tab-content
                    div(id="gift" class="tab-pane fade in active")
                        img(src="assets/img/fixtures-mac1.png");

                    div(id="order" class="tab-pane fade")
                        img(src="assets/img/fixtures-mac2.png");

                    div(id="delivery" class="tab-pane fade")
                        img(src="assets/img/fixtures-mac3.png");

        .section.last-news
            a(href="/").title Новости программы лояльности «Урожай»

            div
                .news
                    span.date 21 июля 2016
                    a(href="/") Россельхозбанк снизил процентные ставки по кредитам на развитие личного подсобного хозяйства

                .news
                    span.date 21 июля 2016
                    a(href="/") Россельхозбанк принял участие в совещании Минсельхоза России по вопросам проведения весенних полевых работ в Центральном федеральном округе

                .news
                    span.date 21 июля 2016
                    a(href="/") Дмитрий Патрушев провел рабочую встречу с Губернатором Новгородской области Сергеем Митиным