extends _layer.landing


block title
    title

block content

    .page-container: div
      .path
        ul.path__list
            li.path__item
                a.path__link(href="#") Главная
            li.path__item
                span.path__link Новости
      h1.news-title Новости программы лояльности «Урожай»
      ul.news
        li.news__item 
          a.news__title(href="#") Россельхозбанк и Объединенная авиастроительная корпорация подписали Соглашение о сотрудничестве
          .news__date 22 июня 2016
          p.news__text АО «Россельхозбанк» и ПАО «Объединенная авиастроительная корпорация» (ОАК) заключили Соглашение о сотрудничестве. Документ был подписан Председателем Правления Банка Дмитрием Патрушевым и Президентом ОАК Юрием Слюсарем.
        li.news__item 
          a.news__title(href="#") Россельхозбанк профинансировал группу компаний «Грейн Холдинг»
          .news__date 22 июня 2016
          p.news__text АО «Россельхозбанк» открыл кредитную линию в размере 3 млрд рублей ГК «Грейн Холдинг» сроком на 1 год. Кредитные средства компания планирует направить на приобретение свыше 300 тыс. тонн зерна у аграриев для последующей его переработки.
        li.news__item 
          a.news__title(href="#") Россельхозбанк и Объединенная авиастроительная корпорация подписали Соглашение о сотрудничестве
          .news__date 22 июня 2016
          p.news__text АО «Россельхозбанк» и ПАО «Объединенная авиастроительная корпорация» (ОАК) заключили Соглашение о сотрудничестве. Документ был подписан Председателем Правления Банка Дмитрием Патрушевым и Президентом ОАК Юрием Слюсарем.
        li.news__item 
          a.news__title(href="#") Россельхозбанк профинансировал группу компаний «Грейн Холдинг»
          .news__date 22 июня 2016
          p.news__text АО «Россельхозбанк» открыл кредитную линию в размере 3 млрд рублей ГК «Грейн Холдинг» сроком на 1 год. Кредитные средства компания планирует направить на приобретение свыше 300 тыс. тонн зерна у аграриев для последующей его переработки.
        li.news__item 
          a.news__title(href="#") Россельхозбанк и Объединенная авиастроительная корпорация подписали Соглашение о сотрудничестве
          .news__date 22 июня 2016
          p.news__text АО «Россельхозбанк» и ПАО «Объединенная авиастроительная корпорация» (ОАК) заключили Соглашение о сотрудничестве. Документ был подписан Председателем Правления Банка Дмитрием Патрушевым и Президентом ОАК Юрием Слюсарем.
        li.news__item 
          a.news__title(href="#") Россельхозбанк профинансировал группу компаний «Грейн Холдинг»
          .news__date 22 июня 2016
          p.news__text АО «Россельхозбанк» открыл кредитную линию в размере 3 млрд рублей ГК «Грейн Холдинг» сроком на 1 год. Кредитные средства компания планирует направить на приобретение свыше 300 тыс. тонн зерна у аграриев для последующей его переработки.
        li.news__item 
          a.news__title(href="#") Россельхозбанк и Объединенная авиастроительная корпорация подписали Соглашение о сотрудничестве
          .news__date 22 июня 2016
          p.news__text АО «Россельхозбанк» и ПАО «Объединенная авиастроительная корпорация» (ОАК) заключили Соглашение о сотрудничестве. Документ был подписан Председателем Правления Банка Дмитрием Патрушевым и Президентом ОАК Юрием Слюсарем.
        li.news__item 
          a.news__title(href="#") Россельхозбанк профинансировал группу компаний «Грейн Холдинг»
          .news__date 22 июня 2016
          p.news__text АО «Россельхозбанк» открыл кредитную линию в размере 3 млрд рублей ГК «Грейн Холдинг» сроком на 1 год. Кредитные средства компания планирует направить на приобретение свыше 300 тыс. тонн зерна у аграриев для последующей его переработки.
      .pagination
        a.pagination__item(href="#") 1
        a.pagination__item.pagination__item--active(href="#") 2
        a.pagination__item(href="#") 3