extends _layer.landing


block title
    title

block content

    .page-container: div
      .path
        ul.path__list
            li.path__item
                a.path__link(href="#") Главная
            li.path__item
                span.path__link Новости
            li.path__item
                span.path__link Россельхозбанк профинансировал группу компаний «Грейн Холдинг»
      .news-item 
        h1.news-item__title Россельхозбанк профинансировал группу компаний «Грейн Холдинг»
        .news-item__date 22 июня 2016
        p АО «Россельхозбанк» открыл кредитную линию в размере 3 млрд рублей ГК «Грейн Холдинг» сроком на 1 год. Кредитные средства компания планирует направить на приобретение свыше 300 тыс. тонн зерна у аграриев для последующей его переработки.
        p Группа компаний «Грейн Холдинг» осуществляет закупку зерна у сельхозпроизводителей, перерабатывает в муку и реализует готовую продукцию крупным хлебозаводам и мини пекарням по всей стране, а также в розничные торговые сети.
        p Кредитование ГК «Грейн Холдинг» позволит решить аграриям проблему сбыта сельхозпродукции и обеспечить население качественной продукцией российского производства.
        p Поддержка Банком ведущих предприятий способствует укреплению позиций отечественного производителя на внутреннем рынке, созданию новых рабочих мест, а также повышает доступность качественных продуктов питания.
