extends _layer.inner


block title
    title

block content

    .page-container.col-md-12.col-xs-12
      .category-befor
        .menu-header
          button.btn.btn-light
            img(src='assets/img/menu-btn.png')
            span Меню
        .search
          img(src='assets/img/icon-search.png')
          input(type='text', placeholder='Искать по названию')
        .hidden-xs.back
        
      .category-befor
        .breadcrumbs
          h2 Мои заказы
          
      .page-container.of
        div
          .substrate
            table.simple__table
              tr
                th(width="80") Дата
                th(width="80") Магазин
                th(width="110") Номер
                th(width="330") Описание
                th(width="110") Статус
                th(width="90") Сумма
                th(width="90") Скидка
                th(width="90") Оплачено баллами
                th(width="60") Оплачено деньгами
              tr
                td 17.10.2016
                td OZON
                td 13787741-0001
                td Творческая мастерская. 55 мастер-классов для маленьких исследователей
                td В обработке
                td(align="right") 138,00
                td(align="right") 0,00
                td(align="right") 57,20
                td(align="right") 317,00
              tr
                td 17.10.2016
                td OZON
                td 13787741-0001
                td Dell Inspiron 3542 (1451), Black
                td Аннулирован
                td(align="right") 23 990,00
                td(align="right") -180,00
                td(align="right") 317,00
                td(align="right") 120,00
              tr
                td 17.10.2016
                td OZON
                td 13787741-0001
                td Творческая мастерская. 55 мастер-классов для маленьких исследователей
                td В обработке
                td(align="right") 138,00
                td(align="right") 0,00
                td(align="right") 57,20
                td(align="right") 317,00
              tr
                td 17.10.2016
                td OZON
                td 13787741-0001
                td Dell Inspiron 3542 (1451), Black
                td Аннулирован
                td(align="right") 23 990,00
                td(align="right") -180,00
                td(align="right") 317,00
                td(align="right") 120,00
                
            .pagination
              a.pagination__item(href='#') 1
              a.pagination__item.pagination__item--active(href='#') 2
              a.pagination__item(href='#') 3





        .button-basket.button-oneline
          div
            button.btn-class1(onclick="location.href='/'") Назад в каталог
