extends _layer.landing_dark

block title
    title

block content

    .page-container: div
        .substrate
            
            .form-block
                span.title Забыли пароль?
                form
                    .textbox
                        input(type="text" placeholder="Ваш номер телефона")

                    .control
                        button(type="submit").btn.btn-bright: span Ваш номер телефона