extends _layer.landing_dark

block title
    title

block content

    .page-container: div
        .substrate
            
            .form-block
                span.title Введите код подтверждения
                form
                    .message
                        p Код подтверждения отправлен на номер +7 926 ×××-××-12
                        p Вы можете получить новый код через <span>0:29</span>
                    
                    .textbox
                        input(type="text" placeholder="Введите код")

                    .textbox
                        input(type="text" placeholder="Придумайте пароль")

                    .textbox
                        input(type="text" placeholder="Повторите пароль")

                    .control
                        button(type="submit").btn.btn-bright: span Готово