extends _layer.landing_dark

block title
    title

block content

    .page-container: div
        .substrate
            
            .form-block
                span.title Регистрация в программе
                form
                    .textbox
                        input(type="text" placeholder="Введите ID участника")

                    .control
                        button(type="submit").btn.btn-bright: span Готово

            .separator

            .info-block
                h1 Как получить ID и зарегистрироваться?
                p Участвовать в программе лояльности могут держатели действующих платежных карт следующих тарифных планов:
                ul
                    li: span Зарплатный
                    li: span Зарплатный-РСХБ
                    li: span Зарплатный 5+
                    li: span Персональный
                    li: span Пенсионный
                    li: span Путевая карта (участвует по умолчанию, не требует подключения)
                    li: span Капитал
                    li: span Сервисный
                    li: span Кредитная карта с льготным периодом кредитования
                p Программа лояльности «Урожай» подключается как бесплатная дополнительная услуга в банкоматах и терминалах, в дополнительных офисах Россельхозбанка или с помощью сотрудника Контакт-центра, по номеру <strong>8-800-200-60-99</strong>.
                p Вы ещё не являетесь держателем карты Россельхозбанка? 
                a(href="/"): span Оформить карту