extends _layer.landing


block title
    title

block content

    .page-container.page-container--dark: div
        .path
            ul.path__list
                li.path__item
                    a.path__link(href="#") Главная
                li.path__item
                    span.path__link Путевая Карта
        .roadmap-card
            .roadmap-card__left
                img.roadmap-card__img(src="assets/img/cards.png")
            .roadmap-card__right
                .roadmap-card__title.title Путевая Карта — уникальная карта для путешественников
                p.roadmap-card__text.text Все держатели «Путевой карты» участвуют в программе лояльности «Урожай» на специальных условиях!
                a.btn.roadmap-card__btn(href="#") Оформить карту
                
    .page-container
        ul.roadmap-feature
            li.roadmap-feature__item 
                .roadmap-feature__img-box
                    img.roadmap-feature__img(src="assets/img/roadmap-feature-icon1.png", alt="Бесплатное снятие наличных в любых банкоматах любых банков по всему миру")
                p.roadmap-feature__text Бесплатное снятие наличных в любых банкоматах любых банков по всему миру
            li.roadmap-feature__item 
                .roadmap-feature__img-box
                    img.roadmap-feature__img(src="assets/img/roadmap-feature-icon2.png", alt="Бесплатное обслуживание для активных клиентов")
                p.roadmap-feature__text Бесплатное обслуживание для активных клиентов
            li.roadmap-feature__item 
                .roadmap-feature__img-box
                    img.roadmap-feature__img(src="assets/img/roadmap-feature-icon3.png", alt="Бесплатный SMS-сервис по счету")
                p.roadmap-feature__text Бесплатный SMS-сервис по счету
            li.roadmap-feature__item 
                .roadmap-feature__img-box
                    img.roadmap-feature__img(src="assets/img/roadmap-feature-icon4.png", alt="Страховка для выезжающих за рубеж")
                p.roadmap-feature__text Страховка для выезжающих за рубеж
            li.roadmap-feature__item 
                .roadmap-feature__img-box
                    img.roadmap-feature__img(src="assets/img/roadmap-feature-icon5.png", alt="Оплата бонусными баллами авиа и ж/д билетов на все направления")
                p.roadmap-feature__text Оплата бонусными баллами авиа и ж/д билетов на все направления
            li.roadmap-feature__item 
                .roadmap-feature__img-box
                    img.roadmap-feature__img(src="assets/img/roadmap-feature-icon6.png", alt="Все бонусы умножаются на 2 первые 2 месяца пользования картой")
                p.roadmap-feature__text Все бонусы умножаются на 2 первые 2 месяца пользования картой
        .roadmap-choice
            a.roadmap-choice__item(href="#")
                img.roadmap-choice__img(src="assets/img/rshb-card-2.png")
                .roadmap-choice__link Тарифный план Кредитная&nbspПутевая&nbspкарта
            a.roadmap-choice__item(href="#")
                img.roadmap-choice__img(src="assets/img/rshb-card-1.png")
                .roadmap-choice__link Тарифный план Дебетовая&nbspПутевая&nbspкарта
            