extends _layer.landing_dark


block title
    title

block content

    .page-container: div
        .substrate
            
            .form-block
                span.title Правила участия в программе лояльности «Урожай»

                .new-window-link Открыть в новом окне

                form

                    .textbox
                        input(type="password" placeholder="Пароль")

                    .icr-text
                        Я принимаю правила участия

                    .control
                        button(type="submit").btn.btn-bright: span Продолжить