extends _layer.inner


block title
    title

block content

    .page-container.col-md-12.col-xs-12
      .category-befor
        .menu-header
          button.btn.btn-light
            img(src='assets/img/menu-btn.png')
            span Меню
        .search
          img(src='assets/img/icon-search.png')
          input(type='text', placeholder='Искать по названию')
        .hidden-xs.back
        
      .category-befor
        .breadcrumbs
          h2 Список желаний
          
      .basket-content
        .element
          .pic
            a(href="#")
              img(src='assets/img/tovar/1.jpg')
          .title-content-basket
            a(href="#") Asus Zenbook UX303UB (90NB08-U1M01500)
            br
            .price-content-basket
              | 61 890.-
          .total-price-content-basket
            | 61 890.-
