extends _layer.inner


block title
    title

block content

    .page-container.col-md-12.col-xs-12
      .category-befor
        .menu-header
          button.btn.btn-light
            img(src='assets/img/menu-btn.png')
            span Меню
        .search
          img(src='assets/img/icon-search.png')
          input(type='text', placeholder='Искать по названию')
        .hidden-xs.back
        
      .category-befor
        .breadcrumbs
          h2 Список желаний
          
      .basket-content
        .element
          p Ваш список желаний пуст
