.footer-wrapper
    .footer
        .info
            .block
                span.title Информация об услугах
                a(href="/").owner Официальный сайт АО «Россельхозбанк»
                span.phone 8 (800) 200-02-90
                span.footnote Звонок по России бесплатный

            .block.social
                span.title Мы в социальных сетях

                a(href="/")
                    img(src="assets/img/facebook.png")
                    span Facebook
                a(href="/")
                    img(src="assets/img/twitter.png")
                    span Twitter
                a(href="/")
                    img(src="assets/img/vk.png")
                    span Вконтакте
                a(href="/")
                    img(src="assets/img/od.png")
                    span Одноклассники

            .block.links
                span.title Программа лояльности

                a(href="/"): span Помощь и поддержка
                a(href="/"): span Условия Программы лояльности «Урожай»

        .copy
            span © 2000-2016 АО «Россельхозбанк»
            span 119034, г. Москва, Гагаринский пер., д.3.
            span E-mail: office@rshb.ru