html { height: 100%; }

body {
    margin: 0;
    color: @font-black-color;
    min-height: 100%;
    position: relative;

    * {
        outline: none;
        box-sizing: border-box;
    }
}

// Common

.container-fluid { 
    display: table;
    width: 100%;
	height:auto;
}

.page-wrapper {
    max-width: @screen-lg-max;
    height: inherit;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
/* IE 6 & 7 */
.clearfix {
    zoom: 1;
}

// Mixins

@import "mixins/frameworks/bootstrap/bootstrap";

@import "mixins/proxima-nova";
@import "mixins/common";

@import "mixins/components/slick";

// Layers

@import "layers/common"; 
@import "layers/landing";
@import "layers/cabinet";
@import "layers/rules";
@import "layers/menu";
@import "layers/reward";
@import "layers/roadmap";
@import "layers/news";
@import "layers/news-item";
@import "mixins/css.less";
// Customization

@import "customization/adaptation";
@import "customization/ui_kit";

// Settings

@import "variables";

//Double


