// Font

    // Family

    @family-proxima-lt: 'Proxima Nova Lt';
    @family-proxima-rg: 'Proxima Nova Rg';

    @font-size-default: 18px;
    @font-size-small: 14px;
    @font-size-medium: 22px;
    @font-size-large: 32px;
    @font-size-h1: 55px;


// Color scheme

    // Original Theme

    @font-black-color: #262626;

    @landing-bg-alt: #f5f6f7;
    @landing-h1-color: #1f9933;

    @btn-light-border: #ccc;
    @btn-light-border-hover: #1f9933;

    @btn-bright-bg: #ffd21f;
    @btn-bright-bg-active: #ffc400;
    @btn-bright-shadow: #e5b000;

    @textbox-border: #e0e0e0;
    @textbox-border-focus: #ffd117;
    @textbox-link-color: #1f9933;

    @selectbox-chevron-color: #9f9f9f;

    @novelty-dots-color: #217e37;
    @novelty-dots-color-active: #ffcb02;
    @novelty-dots-border-color: white;

    @novelty-line-color: #ffcb00;

    @concept-span-color: #1e9431;

    @bankcard-link-color: @concept-span-color;

    @invitation-line-color: @novelty-line-color;

    @ws-flink-border: #e6e6e6;
    @ws-flink-marker-color: @novelty-line-color;
    @ws-flink-bg-hover: #fffceb;

    @ex-link-border: #e6e6e6;

    @ex-active-marker-color: #ffcc00;

    @lnews-border: #e6e6e6;
    @lnews-link-color: @concept-span-color;
    @news-date-color: #828282;
    @news-link-color: @font-black-color;

    @footer-bg-alt: #f5f6f7;
    @footer-owner-color: #1f9933;

    @f-social-icon-size: 22px;
    @f-copy-border: #e2e3e4;
    @f-copy-font-color: #808080;

    @substrate-separator-border: #dbdbdb;
    @substrate-link-color: @textbox-link-color;
    @substrate-message-color: #828282;

    @scroll-collor: #1f7e35;

    @menu-color-green: #459032;
    @menu-color-white: #fff;
    @menu-color-black: #000;
    @menu-color-gray: #a0a6ad;
    @menu-color-gold: #fffaeb;
    @menu-color-hover: #ffe57f;
    @menu-color-hover-ptimary: #1f9933;

// Default design

    // Common
    @border-radius-default: 4px;
    @indent-default: 20px;
    @indent-small: 15px;

    // Button
    @btn-height-default: 46px;
    @btn-border-width: 2px;

    // Textbox
    @textbox-height-default: 54px;
    @textbox-border-width: 1px;
    @textbox-font-size: 20px;

    // Textarea
    @textarea-height-default: 200px;
    @textarea-border-width: @textbox-border-width;
    @textarea-font-size: @textbox-font-size;
    @textarea-placeholder-padding-top: 60px;

    @scroll-collor: #1f7e35;
    @scroll-width: 12px;
    @scroll-radius: 12px;

    // Containers
    @container-lg-max: 1200px;
    @screen-lg-max: 1440px;

    @btn-font-size-default: @font-size-default;
    @btn-font-size-medium: 20px;

    // Header
    @header-height-default: 100px;

    // Logo
    @logo-loyalty-width: 260px;
    @logo-rshb-width: 220px;

    // Slider: Novelty
    @novelty-dots-bottom: 70px;
    @novelty-dots-border: 2px;
    @novelty-dots-size: 16px;

    @novelty-content-padding: 120px;
    @novelty-line-size: 10px;

    @novelty-label-font-size: 18px;

    // Section
    @section-content-padding: 120px;
    @section-margin-bottom: 50px;
    @section-margin-adaptive: 40px;

    // Table
    @table-border-color: #d6d6d6;
    @table-heading-color: #999999;
    @table-text-color: #1f1f1f;

    // How it works
    @concept-img-height: 72px;

    // How it start
    @invitation-border-size: 8px;
    @invitation-minheight: 240px;

    // How to getbonus
    @font-size-p: 20px;

    // Web service
    @web-service-link-height: 160px;
    @ws-flink-border-width: 1px;
    @ws-marker-size: 8px;

    // How to exchange
    @ex-link-height: 100px;
    @ex-marker-wrp-width: 80px;
    @ex-marker-size: 24px;

    // Last news
    @lnews-title-size: 30px;

    // Footer
    @f-copy-border-width: 1px;

    // Substrate
    @substrate-separator-width: 1px;

    // Accordion
    @accordion-content-bg: #fff8eb;

// Shadow

    // Header
    @shadow-header: 0 0 7px rgba(0,0,0,0.4);

// Z-Index
    @index-header: 100;
    @index-menu: 999;
