.hotel-avia{
	font-family: "Proxima Nova Lt";
    margin-bottom: 20px !important;
    margin-top: 54px !important;
    clear: both;
}
.hotel-avia .nav-tabs > li > a{
	font-size: 18px;
	text-transform: uppercase;
	color: #9e9e9e;
	font-weight: 600;
	letter-spacing: 1.7px;
	margin-right: 30px;
	padding: 10px 3px;
}
.hotel-avia .nav-tabs > li.active > a{
	color: #1f1f1f;
}
.hotel-avia .nav-tabs {
    border-bottom: medium none;
    margin-bottom: 21px;
}
.hotel-avia .nav-tabs > li.active > a, 
.hotel-avia .nav-tabs > li.active > a:hover, 
.hotel-avia .nav-tabs > li.active > a:focus{
	border-color: transparent;
	background-color: transparent !important;
}
.hotel-avia .nav-tabs > li > a:hover{
	background-color: transparent !important;
	border-color: transparent;
	color: #1f9933;
}
.hotel-avia .tab-content{
	background: #fff;
	padding: 40px;
}
.styled-select::after {
    background: #fff none repeat scroll 0 0;
    content: "";
    display: block;
    height: 100%;
    margin-top: 0;
    position: absolute;
    right: 1px;
    top: 0;
    width: 30px;
    z-index: 5;
}
.located{
	float: left;
	width: 36%;
	padding-right: 20px;
	box-sizing: border-box;
}
.located label{
	color: #000000;
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
}
.located input{
	border: 2px solid #e0e0e0;
	border-radius: 3px;
	height: 55px;
	padding: 0 20px;
	font-size: 20px;
	width: 100%;
	color:#999999;
}
.people{
	float: left;
    padding-right: 12px;
    width: 26%;
}
.people label{
	color: #000000;
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
}
.people .styled-select{
	border: 2px solid #e0e0e0;
	height: 55px;
}
.people .styled-select select{
	color: #9c9c9c;
    font-size: 20px;
    padding: 0 11px;
}
.date_in{
	float: left;
    padding: 0 6px 0 7px;
    width: 19%;
}
.date_in label{
	color: #000000;
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
}
.date_in input{
	background: rgba(0, 0, 0, 0) url("img/celendar.png") no-repeat scroll calc(100% - 15px) center;
    border: 2px solid #e0e0e0;
    border-radius: 3px;
    color: #999999;
    font-size: 20px;
    height: 55px;
    padding: 0 20px;
    width: 100%;
}
.date_out{
	float: left;
    padding: 0 0 0 13px;
    width: 19%;
}
.date_out label{
	color: #000000;
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
}
.date_out input{
	background: rgba(0, 0, 0, 0) url("img/celendar.png") no-repeat scroll calc(100% - 15px) center;
    border: 2px solid #e0e0e0;
    border-radius: 3px;
    color: #999999;
    font-size: 20px;
    height: 55px;
    padding: 0 20px;
    width: 100%;
}
.hotel-form{
	overflow: hidden;
    padding-bottom: 50px;
}
.botom-form{
	float: left;
    margin-top: 40px;
    text-align: right;
    width: 100%;
}
.hotel-form button{
	border:0;
	border-bottom:3px solid #e6b000;
	padding:12px 99px;
	background-color:#ffd21f;
	font-family:'Proxima Nova Lt';
	color:#000;
	font-size:20px;
	margin-right:0;
	line-height:1.42857143;
	border-radius:3px;
	font-weight:bold;
	height:55px;
	box-sizing:border-box
}
.hotel-form button:hover{
	background:#f7d343;
	border-color:#f3ca45
}
.white-container{
	background: #fff none repeat scroll 0 0;
    clear: both;
    padding: 41px 0 0px;
    font-family: "Proxima Nova Lt";
    overflow: hidden;
}
.search-field{
	padding: 0 40px 34px;
	overflow: hidden;
	border-bottom: 1px solid #ebebeb;
}
.search-field div{
	border: 2px solid #ffd117;
    border-radius: 3px;
    color: #343333;
    float: left;
    font-size: 20px;
    font-weight: bold;
    height: 55px;
    line-height: 55px;
    max-width: 920px;
    padding-left: 21px;
    width: 83%;
    word-spacing: 4px;
}
.search-field span{
	color:#1f7e35;
}
.search-field button{
	border:0;
	float: right;
	border-bottom:2px solid #e6b000;
	padding:12px 32px;
	background-color:#ffd21f;
	font-family:'Proxima Nova Lt';
	color:#000;
	font-size:20px;
	margin-right:0;
	line-height:1.42857143;
	border-radius:3px;
	font-weight: normal;
	height:55px;
	box-sizing:border-box
}
.search-field button:hover{
	background:#ffc400;
	border-color:#e5b000 
}
.padding-20{
	padding-top: 28px;
}
.hotel-list{
	box-sizing: border-box;
    list-style: outside none none;
    margin-top: 2px;
    overflow: hidden;
    padding: 0 0 9px;
}
.hotel-list li{
	border-bottom: 1px solid #ebebeb;
    float: left;
    padding: 29px 40px;
    width: 100%;
    position: relative;
}
.hotel-list li:last-child{
	border-bottom: none;
}
.bg-item{
	background: #e6fae9 none repeat scroll 0 0;
    float: left;
    max-width: 920px;
    width: 83%;
    padding: 18px 20px;
}
.breadcrumbs {
    width: 100%;
}
.booking{
	bottom: 30px;
    color: #1f1f1f;
    float: right;
    font-size: 22px;
    font-weight: bold;
    max-width: 160px;
    padding-top: 55px;
    position: absolute;
    right: 39px;
    text-align: center;
    width: 100%;
}
.booking span{
	display: block;
    margin-bottom: 22px;
}
.booking button{
	border:0;
	float: right;
	border-bottom:2px solid #e6b000;
	padding:12px 0;
	background-color:#ffd21f;
	font-family:'Proxima Nova Lt';
	color:#000;
	font-size:20px;
	margin-right:0;
	line-height:1.42857143;
	border-radius:2px;
	font-weight: normal;
	height:55px;
	box-sizing:border-box;
	width: 100%;
}
.booking button:hover{
	background:#ffc400;
	border-color:#e5b000 
}
.tumb-hotel{
	float: left;
    margin-right: 41px;
}
.desc{
	float: left;
    width: 45.5%;
    padding-top: 14px;
}
.rating{
	margin-bottom: 7px;
}
.rating a{
	margin-right: -4px;
}
.title-hotel{
	color: #1f1f1f !important;
    display: block;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
}
.adress-hotel{
	color: #1f1f1f;
    font-size: 15px;
    font-style: normal;
    letter-spacing: 0.15px;
}
.price-hotel{
	float: left;
    padding-top: 32px;
}
.price-hotel p{
	color: #1f1f1f;
    font-size: 15px;
    margin-bottom: -4px !important;
}
.loading_2 .load-tovar{
	margin-top: 34px;
}
.loading_2 .load-tovar p {
    color: #1e9431;
    font-size: 22px;
    margin: 9px 0 -7px;
    text-align: center;
}
.mar-top{
	margin-top: 45px !important;
}
.card-hotel{
	padding: 30px 40px;
}
.top-card-hotel{
	
}
.tumb-hotel-card{
	float: left;
    width: 39%;
}
.tumb-hotel-card img{max-width: 100%;}
.info-card{
	float: right;
    padding-left: 2px;
    padding-top: 171px;
    width: 59%;
}
.info-card .rating{
	margin-bottom: 18px;
}
.info-card .title-hotel{
	font-size: 33px;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin-bottom: 13px;
}
.info-card .adress-hotel{
	font-size: 18px;
}
.booking-info{
	border-bottom: 1px solid #f2f2f2;
    float: left;
    margin-bottom: 32px;
    padding-bottom: 37px;
    padding-top: 42px;
    width: 100%;
}
.booking-info ul{
	list-style: outside none none;
    padding: 0;
    width: 100%;
}
.booking-info ul li{
	float: left;
    margin-bottom: 20px;
    margin-right: 80px;
}
.booking-info ul span{
	color: #9c9c9c;
    display: block;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 19px;
}
.booking-info ul p{
	color: #383838;
    font-size: 18px;
    margin: 0 0 7px;
}
.desc-tab .nav-tabs > li > a{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	color: #9e9e9e;
	border: none;
	letter-spacing: 2px;
    margin-right: 36px !important;
    padding: 10px 0;
}
.desc-tab .nav-tabs > li.active > a, 
.desc-tab .nav-tabs > li.active > a:hover, 
.desc-tab .nav-tabs > li.active > a:focus,
.desc-tab .nav-tabs > li > a:hover{
	background: none;
	border: none;
	color: #1f1f1f;
}
.desc-tab .nav-tabs > li > a:hover{
	color:#1f9933;
}
.desc-tab{
	clear: both;
    margin-bottom: 18px;
}
.nav-tabs{
	border-bottom: none;
}
.viev-more{
	color: #1e9431 !important;
    font-size: 16px;
    text-decoration: underline !important;
}
.viev-more:hover{
	text-decoration: none !important;
}
.desc-hotel p{
	 line-height: 24px;
    margin-bottom: 24px;
    width: 77%;
}
.nav-tabs {
    border-bottom: medium none;
    margin-bottom: 27px;
}
.photos{
	list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 19px;
}
.photos img{
	max-width: 100%;
}
.photos li{
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
}
#tb-1{
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 40px;
}
#tb-2{
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 40px;
}
.rooms{
	overflow: hidden;
    padding-bottom: 20px;
}
.rooms .breadcrumbs{
	margin-bottom: 19px;
    width: 100%;
}
.rooms ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.rooms ul li{
	float: left;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}
.rooms ul li:first-child .title-booking{
	display: block;
}
.item-room {
    float: left;
    max-width: 880px;
    width: 79%;
}
.title-booking{
	color: #747474;
    display: none;
    font-size: 18px;
    overflow: hidden;
    padding-bottom: 24px;
}
.room-info{
	background: #f5f6f7 none repeat scroll 0 0;
    color: #000;
    float: left;
    font-size: 18px;
    padding: 28px 0;
    width: 100%;
}
.col-1{
	float: left;
    padding-left: 41px;
    width: 25%;
}
.col-2{
	float: left;
    padding-left: 21px;
    width: 29%;
}
.col-3{
	float: left;
	width: 19%;
}
.col-4{
	float: left;
	width: 20%;
}
.btn-booking{
	bottom: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 200px;
}
.btn-booking span{
	color: #000;
    display: block;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}
.btn-booking button{
	border:0;
	float: right;
	border-bottom:2px solid #e6b000;
	padding:12px 0;
	background-color:#ffd21f;
	font-family:'Proxima Nova Lt';
	color:#000;
	font-size:20px;
	margin-right:0;
	line-height:1.42857143;
	border-radius:2px;
	font-weight: normal;
	height:55px;
	box-sizing:border-box;
	width: 100%;
}
.btn-booking button:hover{
	background:#ffc400;
	border-color:#e5b000 
}
.rooms ul li:hover .room-info{
	background: #e6fae9;
}
.pad-t-0{
	padding-top:0;
}
.orange-info-block{
	background: #fcf8e3 none repeat scroll 0 0;
    clear: both;
    float: left;
    margin-bottom: 50px;
    margin-top: -13px;
    padding: 29px 0 40px 80px;
    width: 100%;
}
.orange-info-block span{
	color: #000000;
    float: left;
    font-family: "Proxima Nova Cn Rg";
    font-size: 40px;
    font-weight: bold;
    margin-right: 96px;
}
.orange-info-block div{
	float: left;
    padding-top: 7px;
}
.orange-info-block div p{
	margin: 0 0 6px;
	font-size: 16px;
	color: #1f1f1f;
}
.orange-info-block div a{
	font-size: 16px;
	color: #1f9933 !important;
	text-decoration: underline !important;
}
.orange-info-block div a:hover{
	text-decoration: none !important;
}
.noborder{
	border: none;
}
.guist-info{
	float: LEFT;
}
.guist-info h2{
	color: #262626;
    font-size: 33px;
    font-weight: 300;
    margin-bottom: 55px;
}
.paf-t-15{
	padding-top: 12px;
}
.block-bokking{
	border-bottom: 1px solid #f2f2f2;
    margin-bottom: 61px;
    margin-top: 51px;
    overflow: hidden;
    padding-bottom: 38px;
}
.block-title{
	margin-bottom: 45px;
}
.block-title span{
	color: #000000;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.data-block{
	
}
.item-field {
	float: left;
    margin-bottom: 26px;
    margin-right: 20px;
    max-width: 260px;
    width: 100%;
}
.item-field label{
	color: #1f1f1f;
    display: block;
    font-size: 20px;
    margin-bottom: 14px;
}
.item-field input{
	box-sizing: border-box;
	width: 100%;
	border-radius: 3px;
	border: 2px solid #e0e0e0;
	padding: 0 16px;
	font-size: 20px;
	color: #999999;
	height: 55px;
}
.item-field.email{
	max-width: 300px;
}
.item-field.phone-f{
	max-width: 280px;
}
/*
.phone-f input{
	background: rgba(0, 0, 0, 0) url("img/rus.png") no-repeat scroll 15px center;
    padding-left: 66px;
}*/

.sex span{
	border-radius: 3px;
	border: 2px solid #e0e0e0;
	display: block;
	width: 55px;
	height: 55px;
	line-height: 54px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #797979;
	float: left;
	margin-right: -2px;
	cursor: pointer;
	position: relative;
}
.sex span.active{
	border: 2px solid #ffd117;
	z-index: 10;
}
.icr-text a{
	font-size: 15px;
	color:#1e9431 !important;
	text-decoration: underline !important;
}
.icr-text a:hover{
	text-decoration: none !important;
}
.guist-info .icr-text{
	font-size: 15px;
    margin-left: 9px;
}
.guist-info .icr-label{
	border-bottom: 1px solid #f2f2f2;
    float: left;
    margin-bottom: 35px;
    margin-top: -12px;
    padding-bottom: 45px;
    width: 100%;
}
.guist-info .icr-item{
	background: url('img/check.png') no-repeat;
	height: 25px;
    width: 25px;
    cursor: pointer;
}
.guist-info .icr-label.checked .type_checkbox {
    background-position: -50px 0;
}
.guist-info .icr-label:hover .type_checkbox{
	background-position: 0 0;
}
.guist-info .icr-label.checked:hover .type_checkbox {
    background-position: -50px 0;
}
.total-sum{
	padding-bottom: 73px;
}
.total-sum span{
	font-size: 25px;
	font-weight: bold;
	color: #1f1f1f;
}
.total-sum span span{
	color: #1f1f1f;
    font-size: 50px;
    font-weight: bold;
    margin-left: 20px;
}
.button-list .btn-send {
    border-width: 0 0 2px;
    font-weight: normal;
}
.hotel-form button{
	border-width: 0 0 2px;
}
.hotel-form button:hover{
	background:#ffc400;
	border-color:#e5b000 
}
.button-list .btn-send:hover{
	background:#ffc400;
	border-color:#e5b000 
}
.cabinet .history .btn-send{
	border-width: 0 0 2px;
}
.cabinet .history .btn-send:hover{
	background:#ffc400;
	border-color:#e5b000 
}
.button-basket > div .btn-send {
	border-width: 0 0 2px;
}
.button-basket > div .btn-send:hover {
	background:#ffc400;
	border-color:#e5b000 
}
.page-wrapper .page-container .of .btn-send{
	border-width: 0 0 2px;
}
.tovar .button-info .btn-buy{
	border-width: 0 0 2px;
}
.page-wrapper .page-container .of .btn-send:hover{
	background:#ffc400;
	border-color:#e5b000 
}
.total-sum button{
	border:0;
	float: right;
	border-bottom:2px solid #e6b000;
	padding:12px 0;
	background-color:#ffd21f;
	font-family:'Proxima Nova Lt';
	color:#000;
	font-size:22px;
	margin-right:0;
	line-height:1.42857143;
	border-radius:3px;
	font-weight: normal;
	height:70px;
	box-sizing:border-box;
	width: 100%;
	max-width: 280px;
	margin-top: 6px;
}
.total-sum button:hover{
	background:#ffc400;
	border-color:#e5b000 
}


.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #121712;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  box-sizing: border-box;
    padding: 47px 79px;
    position: relative;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.modal-sm{
	margin: 7% auto;
    max-width: 800px;
    font-family: "Proxima Nova Lt";
}
.modal-sm h4{
	font-size: 33px;
    font-weight: normal;
    margin-bottom: 19px;
}
.modal-sm p{
	line-height: 25px;
    margin-bottom: 25px;
}
.close{
	background: rgba(0, 0, 0, 0) url("img/cross.png") no-repeat scroll 0 0 !important;
    height: 22px;
    opacity: 1;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 22px;
}
.hotel-avia .tabs-avia{
	
}
.hotel-avia .tabs-avia .nav-tabs a{
	border: 2px solid #e0e0e0;
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    height: 55px;
    margin: 0 -2px 0 0;
    position: relative;
    width: 67px;
}
.hotel-avia .tabs-avia .nav-tabs a:nover{
	
}
.hotel-avia .tabs-avia .nav-tabs > li > a:hover{
	
	border: 2px solid #ffd117;
	z-index: 10;
}
.hotel-avia .tabs-avia .nav-tabs > li.active > a, 
.hotel-avia .tabs-avia .nav-tabs > li.active > a:hover, 
.hotel-avia .tabs-avia .nav-tabs > li.active > a:focus {
    background-position: center 0 bottom !important;
    border: 2px solid #ffd117;
	z-index: 10;
	
}
.hotel-avia .one-fly{
	background: rgba(0, 0, 0, 0) url("img/avi1.png") no-repeat scroll center 13px;
	border-radius: 4px 0 0 4px !important;
}
.hotel-avia .two-fly{
	background: url('img/avi2.png') no-repeat center 12px;
}
.hotel-avia .more-fly{
	background: url('img/avi3.png') no-repeat center 16px;
	border-radius:  0 4px 4px 0 !important;
}
.hotel-avia .tabs-avia .active .one-fly{
	background: rgba(0, 0, 0, 0) url("img/avi1.png") no-repeat scroll center -87px;
}
.hotel-avia .tabs-avia .active .two-fly{
	background: rgba(0, 0, 0, 0) url("img/avi2.png") no-repeat scroll center -88px;
}
.hotel-avia .tabs-avia .active .more-fly{
	background: rgba(0, 0, 0, 0) url("img/avi3.png") no-repeat scroll center -84px;
}
.hotel-avia .tabs-avia .nav-tabs{
	margin: 0 auto;
	position: absolute;
	left:50%;
	margin-left: -99px;
}
.hotel-avia .tabs-avia .tab-content {
    padding: 0px;
}
.passeger-class .tittle {
    margin-bottom: 20px;
}
.textbox.next{
	position: relative;
}
.cross-2{
	background: rgba(0, 0, 0, 0) url("img/cross-2.png") no-repeat scroll 0 0;
    display: block;
    height: 14px;
    position: absolute;
    right: 16px;
    top: 20px;
    width: 20px;
}
.item-reys{
	float: left;
    width: 100%;
}
.tumb-reys{
	float: left;
}
.country{
	color: #262626;
    float: left;
    font-size: 18px;
    font-weight: 500;
    margin-left: 21px;
    padding-top: 23px;
}
.way{
	color: #262626;
    float: left;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.4px;
    margin-left: 82px;
    padding-top: 23px;
}
.way span{
	background: rgba(0, 0, 0, 0) url("img/arrow.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 10px;
    margin: 0 3px;
    width: 30px;
}
.reys{
	float: left;
    overflow: hidden;
    width: 100%;
}
.air-info{
	padding-bottom: 0;
    padding-top: 1px;
}
.air-info ul span{
	font-size: 18px;
    margin-bottom: 10px;
}
.air-info ul p{
	font-size: 15px;
}
.all-reys{
	padding-top: 50px;
}
.air-orange{
	margin-bottom: 42px;
    margin-top: 23px;
    padding-bottom: 35px;
}
.orange-info-block.air-orange span {
    margin-right: 57px;
    padding-top: 12px;
}
.orange-info-block.air-orange p{
	color:#000000;
	font-size: 20px;
	display: inline-block;
}
.orange-info-block.air-orange p:first-child{
	margin-right:63px;	
}
.tarife{
	padding-bottom: 13px;
    padding-top: 4px !important;
}
.contact-field{
	float: left;
    margin-bottom: 46px;
    width: 100%;
}
.contact-field p{
	color: #1f1f1f;
    font-size: 15px;
    line-height: 26px;
    margin-top: 37px;
}
.avia-info .block-bokking{
	margin-top: -22px;
	margin-bottom: 30px;
	padding-bottom: 0;
}
.avia-info .item-field.email {
    max-width: 311px;
}	
.avia-info .item-field.phone-f {
    margin-right: 40px;
    max-width: 310px;
}
.avia-info .icr-label {
    border-bottom: 1px solid #f2f2f2;
    float: left;
    margin-bottom: 35px;
    margin-top: 17px;
    padding-bottom: 45px;
    width: 100%;
}
.passengers-data{
	float: left;
    width: 100%;
}
.passengers-data h2{
	display: block;
    margin-bottom: 20px;
    width: 100%;
}
.passengers-data .old{
	color: #000;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 26px;
    width: 100%;
}
.passengers-data .item-field{
	margin-bottom: 66px;
}
.avia-info  {
    padding-bottom: 31px;
}
.modal-sm-2{
	font-family: "Proxima Nova Lt";
    margin: 35px auto;
    max-width: 1140px;
}
.modal-sm-2 .modal-content {
    overflow: hidden;
}
.modal-sm-2 .modal-body {
    padding: 50px 40px 22px;
}
.orange-time{
	background: #fcf8e3 none repeat scroll 0 0;
    float: left;
    margin-bottom: 59px;
    margin-top: -17px;
    min-height: 100px;
    padding-left: 40px;
    width: 100%;
}
.orange-time span{
	background: rgba(0, 0, 0, 0) url("img/clock.png") no-repeat scroll 0 4px;
    color: #262626;
    float: left;
    font-size: 25px;
    margin-top: 33px;
    padding-left: 40px;
    padding-top: 0;
}
.avia-search .search-field div{
	word-spacing: 1px;
}
.change{
	border-bottom: 2px solid #ebebeb;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 0 40px 70px;
}
.without-change{
	width: 50%;
	float: left;
}
.with-change{
	float: left;
    padding-left: 39px;
    width: 50%;
}
.without-change h3{
	color: #262626;
    font-size: 25px;
    margin-bottom: 23px;
}
.with-change h3{
	font-size: 25px;
	color: #262626;
}
.avia-search{
	margin-bottom: 50px !important;
    padding-top: 61px;
}
.avia-search .search-field{
	border: medium none;
    padding-bottom: 16px;
}
.change ul{
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}
.change ul li{
	display: table-cell;
	margin-right: 13px;
}
.inner-scroll{
	margin-right: 13px;
}
.change ul li span{
	font-weight: bold;
}
.change ul li div{
	font-weight: lighter;
    letter-spacing: -0.9px;
    padding-left: 0;
}
#ascrail2000-hr div{
	border: 4px solid #ffd21f !important;
}
#ascrail2000-hr {
	margin-top: 25px;
	background: #f5f6f7;
	height: 8px !important;
}
#ascrail2001-hr{
	margin-top: 25px;
	background: #f5f6f7;
	height: 8px !important;
}
#ascrail2001-hr div{
	border: 4px solid #ffd21f !important;
}
.avia-list{
	border-bottom: 2px solid #ebebeb;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 12px 40px 36px;
    position: relative;
}
.content-avia-list{
	float: left;
    position: relative;
    width: 100%;
}
.content-avia-list .title-booking{
	display: block;
	padding-bottom: 15px;
}
.content-avia-list .room-info{
	background: #e6fae9;
	padding: 31px 0 25px;
	line-height: 22px;
	font-size: 15px;
	color:#000;
}
.content-avia-list .btn-booking {
    width: 160px;
}
.content-avia-list .item-room {
    max-width: 920px;
}
.reys {
    margin-bottom: 17px;
}
.content-avia-list .col-1{
	padding: 0;
    width: 26%;
}
.content-avia-list .col-2{
	padding: 0;
	width: 17%;
}
.content-avia-list .col-3{
	padding: 0;
	width: 18%;
}
.content-avia-list .col-4{
	padding: 0;
	width: 18%;
}
.content-avia-list .col-5{
	float: left;
    padding: 0 0 0 32px;
    width: auto;
}
.to-start{
	background: rgba(0, 0, 0, 0) url("img/airplan.png") no-repeat scroll 0 center;
	padding-left: 30px;
	margin-left: 10px;
}
.back-flight{
	margin-top: 40px;
}
.content-avia-list.back-flight .room-info{
	background: #fcf8e3
}
.content-avia-list .room-info a{
	text-decoration: underline;
}
.content-avia-list .room-info a:hover{
	text-decoration: none;
}
.avia-list.noborder{
	border: medium none;
}
input:focus{
	border-color:#ffd117 !important;
	z-index: 10;
}
.selecter-selected {
    
}
.selecter-selected::after {
    background: rgba(0, 0, 0, 0) url("img/down.png") no-repeat scroll 0 0;
    border-left: medium none;
    border-right: medium none;
    border-top: medium none;
    bottom: 0;
    content: "";
    display: block;
    height: 9px;
    margin: auto 0;
    position: absolute;
    right: 10px;
    top: 0;
    width: 25px;
}
.selecter.open .selecter-selected, .selecter.focus .selecter-selected {
    background-color: #ffffff;
    border-color: #ffcc00;
}
.selecter.open .selecter-selected {
    
    z-index: 51;
}
.selecter-item {
    border-bottom: medium none;
    color: #8f8f8f;
}
.no-touch .selecter-item:hover,
.no-touch .selecter-item.selected:hover {
  color: #525252;
  background-color: #ffe068;
}
.selecter-options {
 	border: 2px solid #ffcc00;
 	border-top: none;
}
.selecter-item.selected {
    background: #ffe068 none repeat scroll 0 0;
    color: #525252;
}
.selecter {
    display: block;
    margin: auto;
    max-width: 100%;
    position: relative;
    z-index: 1;
    font-family: "Proxima Nova Lt";
}
.selecter-selected {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #e0e0e0;
    border-radius: 3px;
    color: #9c9c9c;
    cursor: pointer;
    display: block;
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    padding: 13px 15px;
    position: relative;
    text-overflow: clip;
    z-index: 2;
}
.selecter-item {
    font-size: 20px;
    color:#000;
}
.selecter-item:hover {
    background: #fffae5;
}
.textbox input {
    border: 2px solid #e0e0e0;
}
.content-page {
    margin-left: 0;
}
.basket-content .element .input-content-basket button:hover{
	border: 2px solid #1f9933;
}
.help__form .textbox {
    margin-bottom: 25px;
}
.textbox-2 {
    position: relative;
}
.textbox-span{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    left: -7px;
    position: absolute;
    top: 15px;
}
.help__form .textbox-2 {
	display: block;
    float: left;
    font-family: "Proxima Nova Rg";
    font-size: 18px;
    padding-left: 15px;
    position: relative;
    width: 100%;
}
.help__form .textbox-2 {
    margin-bottom: 25px;
    
}
.help__form .textbox-2 .selecter{
    float: right;
    width: 440px;
    margin-bottom: 5px;
}
.menu {
	font-family: "Proxima Nova lt";
}
.mg{
	max-width: 110px;
}
.all-reys .booking-info ul li {
    margin-right: 40px;
}
.all-reys .booking-info ul li:last-child {
	margin-right: 0;
}
.detail-title{
	font-size: 26px;
	margin-bottom: 45px;
}
.header-id span{
	background: rgba(0, 0, 0, 0) url("img/icon-user.png") no-repeat scroll 0 2px;
	padding-left: 20px;
	white-space: nowrap;
}
.header-price span{
	background: rgba(0, 0, 0, 0) url("img/icon-kosh.png") no-repeat scroll 0 4px;
    padding-left: 23px;
    white-space: nowrap;
}
.no-login .rshb {
    float: right;
    text-align: right;
    padding-right: 0;
}
.header .btn{
	float: right;
    margin-right: 20px;
    margin-top: 28px;
}
.header-wrapper {
    overflow: hidden;
}
.send-code {
    color: #459032;
}
.table-container{
	padding: 60px 20px;
}
.simple__table td {
    padding: 20px 10px;
}
.textbox input {
    line-height: 20px;
}
.cross-3 {
    position: absolute;
    right: 10px;
    top: 36px;
    visibility: hidden;
    z-index: 12;
}
.container-search{
	position: relative;
}
.slick-slide .btn.btn-bright{
	height: 55px;
}
.invitation .btn.btn-bright{
	height: 55px;
}
.category-befor {
    padding-bottom: 20px;
    position: relative;
}
.substrate .btn.btn-bright{
	height: 55px;
	min-width: 150px;
}
.substrate form .control .link:hover{
	text-decoration: none;
}
.roadmap-feature {padding: 140px 0 38px;}
.cabinet .substrate {
	margin-bottom: 0px;
    margin-top: 27px;
    float: left;
    width: 100%;
    padding: 80px;
}
.pay-take {
    max-width: inherit;
}
.pay-take .art {width: 52%;}
.cabinet .history {
    float: left;
    width: 100%;
    padding: 35px 80px 70px;
    margin-bottom: 80px;
}  
.substrate a:hover{
	text-decoration: none;
}
.cabinet .pay-take img {
    margin-top: -30px;
}
.cabinet .pay-take a {
    font-size: 18px;
}
.new-window-link{
	font-family: "Proxima Nova Lt";
}   
.load-tovar:hover p{
	color: #1f1f1f;
}
.load-tovar {
    background: rgba(0, 0, 0, 0) url("../assets/img/icon-load.png") no-repeat scroll center 0;
    cursor: pointer;
    margin-top: 60px;
    padding-top: 90px;
}
.load-tovar:hover{
	background-position: center -200px;
}
.content-page{margin-bottom: 50px;padding: 15px 20px 40px;}
.pic{
	width: 40%;
	float: left;
}
.basket-content .element .pic {
    padding-left: 0;
    padding-right: 30px;
    text-align: left;
    width: 20%;
}
.basket-content .element .total-price-content-basket {
    width: 200px;
}
.basket-content .element .input-content-basket {
    min-width: 125px;
    padding-right: 5px;
    width: 125px;
}
.right{
	float: right;width: 60%;padding-right: 60px;
}
.tovar{
	float: left;width: 100%;
	overflow: hidden;
}

.category-footer a:hover{
	text-decoration: none;
}
.footer-wrapper .footer .block.social a:hover,
.footer-wrapper .footer .block.links a:hover{
	text-decoration: none;
}
.footer-wrapper .footer .block .owner:hover{
	text-decoration: none;
}
.footer-cart a:hover{
	text-decoration: none;
}
.header-id {
    line-height: 103px;
}
.exit {line-height: 101px;}
.category-befor .search {
    border-bottom: 1px solid #abacac;z-index: 11;position: relative;
}
.landing .section.how-it-works .concept .stage span a{
	color: #1e9431;
    display: block;
    font-family: "Proxima Nova Rg";
    font-size: 22px;
    text-decoration: underline;
}
.landing .section.how-it-works .concept .stage span:hover, 
.landing .section.how-it-works .concept .stage span a:hover{
	text-decoration: none;
}
.sort .selecter-selected::after {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;}
.sort .selecter-selected {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #ccc;
    color: #1f1f1f;
    font-size: 18px;
     margin: 0 0 30px 0;
    padding: 8px 14px;
}
.sort {
    margin-right: 1%;
    margin-top: 26px;
    min-width: 140px;
    position: absolute;
    right: 0;
    width: auto;
}
aside.menu .close {
    background: transparent url("../assets/img/close.png") repeat scroll 0 0 / 20px 20px !important;
}
.substrate {
    display: block;
    margin: 60px 0 80px;
    overflow: hidden;
}
.basket-content .info-sog{
	float: left;
    margin: 17px 0 40px;
    width: 100%;
    font-size: 14px;
}
.basket-content .info-sog a{
	color:#1f9933;
	text-decoration: underline;
}
.basket-content .info-sog a:hover{
	text-decoration: none;
}
.left-acces{
	float: left; margin-bottom: 15px;
}
.right-acces{
	float: right;
}
.access .list{
	overflow: hidden;
	width: 100%;
	color: #1f1f1f;
	text-align: left;
	margin-bottom: 7px;
}
.access .list .count{
	display: inline-block;
    margin-right: 85px;
}
.access .list .price{
	display: inline-block;
}
.access{
	padding-top: 30px;
}
.access hr{
	margin: 35px 0 25px;
	border: none; /* Убираем границу для браузера Firefox */
    color: #cccccc; /* Цвет линии для остальных браузеров */
    background-color: #cccccc; /* Цвет линии для браузера Firefox и Opera */
    height: 1px;
}
.grey{
	color:#999;
}
.row1{
	width: 240px;
	float: left;
}
.button-list{
	 margin-top: 36px;
}
.login-header .static .rshb{
	text-align: left;
}
.profile{
    font-size: 20px;
    padding: 0;
}
.profile .profile-str:last-child{
	border-bottom: none;
}
.profile-str{
	border-bottom: 1px solid #ebebeb;
    padding: 30px 80px ;
    background: #fff none repeat scroll 0 0;
    overflow: hidden;
}
.column-1{
	width: 160px;
	display: inline-block;
	color: #9e9e9e;
}
.column-2{
	display: inline-block;
}
.column-2 a {
    border-bottom: 1px dotted;
    color: #1f1f1f;
}
.profile-str:hover{
	background: #fbfcfd;
}
.pad-0{
	padding: 0;
}
.profile-str:hover a{
	color: #1e9431;
}
.profile-str a:hover{
	border-bottom: 0;
}
.modal-form{
	font-family: "Proxima Nova Lt";
}
.modal-form input{
	border: 2px solid #e0e0e0;
	border-radius: 3px;
	width: 100%;
	max-width: 480px;
	height: 55px;
	font-size: 20px;
	padding: 0 20px;
}
.modal-form button{
	 width: 160px;
}
.modal-form .form-line{
	width: 100%;
	margin-bottom: 25px;
}
.new-p {
	padding-bottom: 65px;
}
.stage a{
	color: #1e9431;
}
.stage a:hover{
	text-decoration: none;
}
.landing .section.how-it-works .concept .stage span {
    text-decoration: none;
}
.exit, .header-id {
    position: relative;
    z-index: 20;
}
aside.menu nav.menu-primary {
    padding: 46px 68px;
}
aside.menu nav.menu-primary .span-h3 {
    margin: 0 0 30px;
}
aside.menu nav.menu-primary ul {
    padding: 0 0 24px;
}
aside.menu nav.menu-primary li > ul {
    margin-top: 15px;
}
aside.menu nav.menu-primary li > ul {
    padding: 29px 40px;
}
.cabinet .margin-50{
	margin-bottom: 50px;
}
aside.menu nav.menu-main {
    padding: 65px 68px 8px;
}
.header-price{
	margin-left: 0;
}
.header-wrapper .header .static > * {
    display: inline-block;
}
.cabinet-header{
	float: right;
    text-align: right;
}
.loyalty{
	margin-top: 28px;
}
.rshb{
	margin-top: 28px;
}
.header-wrapper .header .dynamic {
    width: 40%;
}
.header-price, .exit, .header-id {
    padding-top: 6px;
}
.padding-2{
	clear: both;
}
.landing .section.last-news .news a:hover{
	text-decoration: none;
}
.landing .section.last-news .title:hover{
	text-decoration: none;
}
.substrate form .control .link {
    line-height: 54px;
}
.button-list .btn-class1  {
     padding: 14px 65px;
     border: 2px solid #ccc;
}
.button-list .btn-class1:hover,
.button-basket > div .btn-class1:hover  {
	border: 2px solid #1f9933;
}
.button-basket > div .btn-class1{
	border: 2px solid #ccc;
}
.basket .desc-basket {
    color: #1f1f1f;
    float: right;
    font-family: "Proxima Nova Lt";
    font-size: 16px;
    line-height: 66px;
    padding-top: 20px;
    position: absolute;
    right: 0;
    text-align: right;
    width: 50%;
}
.button-basket > div .btn-class1 {
    padding: 19px 9px;
}
.basket-content .element .input-content-basket .minus{
	background: url('img/minus.png') no-repeat center center;
	text-indent: -9999px;
	
}
.basket-content .element .input-content-basket .plus{
	background: url('img/plus.png') no-repeat center center;
	text-indent: -9999px;
}
.passenger-minus {
	background: url('img/minus.png') no-repeat center center;
	text-indent: -9999px;
}
.passenger-plus {
	background: url('img/plus.png') no-repeat center center;
	text-indent: -9999px;
}
.basket-content .element .input-content-basket input{
	border-left:0;
	border-right:0;
}
.load-tovar {
    padding-top: 70px;
}
.load-tovar p {
    margin-top: 0;
}
.help__block .title {
    letter-spacing: 1px;
}
.help__form .textbox span {
    font-size: 20px;
}
.textbox textarea {
    border: 2px solid #e0e0e0;
}
aside.menu nav.menu-main li {
    font-size: 18px;
}
.menu-header {
    margin-bottom: 30px;
    position: relative;
    z-index: 10;
}
aside.menu nav.menu-primary li {
    font-size: 18px;
}
.news__title {
    font-family: "Proxima Nova Rg";
}
.news__text {
    font-family: "Proxima Nova Rg";
    font-size: 20px;
    line-height: inherit;
}
.pagination__item {
    font-family: "Proxima Nova Rg";
}
.pagination__item {
    border: 2px solid transparent;
}
.pagination__item--active:hover, .pagination__item--active{
	border: 2px solid #1f9933;
    color:#1f9933;
}
.news-item__title {width: 90%;margin-bottom: 25px;}
.news-item__date {margin-bottom: 50px;}
.news-item {
	padding-bottom: 26px;
    padding-right: 160px;
}
.page-wrapper .page-container .of .infobox .row2 {
    clear: both;
}
.selecter-selected, .selecter-item{
	font-family:"Proxima Nova Rg" !important;
}
.substrate .selecter-selected{
	color: #1f1f1f;
}
.substrate .selecter  {
	margin-bottom: 25px;
}
.substrate form > .textbox {
    margin-top: 30px;
}
.modal-backdrop.in {
    opacity: 0.69;
}
.modal-content {box-shadow: none;}
.substrate .form-block-reward {
    float: left;
    max-width: 840px;
}
.form-block-reward .textbox textarea {
    height: 160px;
    margin-bottom: 20px;
}
.substrate .form-block-reward form{
	padding-top: 4px;
}
.road-grey{
	max-width:1200px;
	margin: 0 auto;
}
.grey-bg{
	background: #f5f6f7;
}
.roadmap-feature__text{
	line-height: 1.5;
}
.rules textarea{
	font-size: 14px;
	color: #666;
}
.btn-pbuy {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #262626;
    float: left;
    font-family: "Proxima Nova Lt";
    font-size: 18px;
    font-weight: bold;
    height: 54px;
    line-height: 1.429;
    margin-right: 12px;
    margin-top: 1px;
    padding: 12px 45px;
}
.tovar .btn-buy{
	float: left;
	border-radius: 4px;
}
.tovar .btn-buy:hover{
	background: #ffc400;
	border-color:#e5b000;
}
.tovar .button-info {
    margin-bottom: 40px;
    overflow: hidden;
    width: 100%;
}
.tovar .button-info button{
	font-size: 20px;
    font-weight: normal;
    line-height: inherit;
    width: 160px;
}
.content-page .info {
    border-bottom: 1px solid #ccc;
}
.button-basket > div .btn-send{
	font-weight: normal;
}
.button-basket > div .btn-send:hover{
	background: #ffc400;
	border-color:#e5b000;
}
.footer-cart a {
    margin-left: 20px;
}
.btn.btn-light:not(:hover) {
    box-shadow: none;
}
.header .btn-light{
	border: 1px solid #dbdbdb;
}
.header .btn-light:hover{
	border-width: 2px;
}
.button-list-access button{
	max-width: 280px;
	min-width: 180px;
	width: 100%;
	font-family: "Proxima Nova Lt" !important;
	font-weight: lighter !important;
}
.access-message{
	background: #fff9eb none repeat scroll 0 0;
    margin: 39px 0 40px;
    padding: 30px 40px 25px;
}
.access-message .row1 {
    font-size: 21px;
    width: 520px;
    padding-right: 20px;
    text-align: left;
}
.access-message .row2 {
    font-size: 21px;
    padding-right: 0px;
}
.error_mail{
	border: 2px solid #ff1717;
    color: #ff1717;
    display: block;
    font-family: "Proxima Nova Rg" !important;
    font-size: 18px;
    padding: 14px 15px 14px 35px;
    width: 100%;
}
.category-footer .footer .info {
    border-top: none;
}
.footer-wrapper {
    clear: both;
}
.menu-header .btn.btn-light{
	border: 1px solid #ccc;
}
.menu-header .btn.btn-light:hover{
	border: 2px solid #1f9933;
}
.guest{
	border: 2px solid #ffcc00;
	max-width: 280px;
	overflow: hidden;
}
.info-guest{
	background: #fff none repeat scroll 0 0;
    overflow: hidden;
    padding: 25px 15px 0;
}
.line-guest{
	float: left;
	width: 100%;
	margin-bottom: 40px;
}
.column-left{
	float: left;
    font-size: 18px;
    line-height: 20px;
    padding-right: 5px;
    width: 50%;
}
.column-left small{
	color: #8e8e8e;
	font-size: 14px;
	display: block;
}
.column-right{
	float: right;
	width: 50%;
}
.info-guest .avia-passengers-count,
.info-child .avia-passengers-count{
	margin-right:0;
}
.info-child{
	background: #f5f6f7 none repeat scroll 0 0;
    float: left;
    padding: 38px 15px 0;
    width: 100%;
}
.info-child .selecter-selected{
	background: #fff url("img/v-line.png") repeat-y scroll calc(100% - 37px) 0;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    padding: 7px 15px;
    position: relative;
    text-overflow: clip;
    z-index: 2;
}
.info-child .selecter-options{
	position: relative;
	border-width: medium 1px 1px;
	border-radius: 0;
}
.info-child .selecter-selected::after {
    right: 2px;
}
.info-child .selecter.open .selecter-selected {
    border-radius: 0;
}
.news {
    padding: 0 160px 0 0;
}
 .modal-sm3{
 	max-width: 280px;
 	background: none;
 	margin: 10px auto;
 }
.substrate.table-container{
	margin: 60px 0 0;
}
.order-btn{
	padding-bottom: 0;
}
.order-btn div{
	margin-bottom: 30px;
}
.right .button-info .btn-pbuy {
    border: 2px solid #ccc;
    padding: 11px 45px;
}
.right .button-info .btn-pbuy:hover {
	border: 2px solid #1f9933;
}
.wishnull p {
	font-family:"Proxima Nova Rg" !important;
    font-size: 21px;
}
.icr-item{
	background: rgba(0, 0, 0, 0) url("img/check.png") no-repeat scroll 0 0;
    cursor: pointer;
    height: 25px;
    width: 25px;
}
.icr-label.checked .type_checkbox {
    background-position: -50px 0;
}
.icr-label.checked:hover .type_checkbox {
    background-position: -50px 0;
}
.icr-label:hover .type_checkbox {
    background-position: 0 0;
}
.icr-text {
    font-family: "Proxima Nova Rg";
    margin-left: 5px;
    margin-top: 0;
    position: relative;
    top: 2px;
}
.fo-textarea textarea{
	height: 160px;
    margin-bottom: 20px;
    border: 2px solid #e0e0e0;
    border-radius: 4px;
    font-family: "Proxima Nova Rg";
    font-size: 20px;
    height: 200px;
    padding: 20px;
    resize: none;
    width: 100%;
}
.message-error{
	background: #3d424d none repeat scroll 0 0;
    border-radius: 4px;
    bottom: -47px;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    left: 50%;
    margin-left: -80px;
    padding: 11px 15px;
    position: absolute;
    width: 160px;
    font-style: normal;
}
.message-error::before{
	background: rgba(0, 0, 0, 0) url("img/trio.png") no-repeat scroll center top;
    content: "";
    display: block;
    height: 7px;
    left: 0;
    position: absolute;
    top: -7px;
    width: 100%;
}
.icon .message-error::before{
	background: rgba(0, 0, 0, 0) url("img/trio.png") no-repeat scroll center top;
    bottom: -7px;
    content: "";
    display: block;
    height: 7px;
    left: 0;
    position: absolute;
    top: initial;
    transform: rotate(180deg);
    width: 100%;
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.icon .message-error{
	background: #3d424d none repeat scroll 0 0;
    border-radius: 4px;
    bottom: inherit;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    left: 50%;
    margin-left: -80px;
    padding: 11px 15px;
    position: absolute;
    top: -47px;
    width: 160px;
}






.landing .section.how-it-works p, 
.landing .section.web-service .flat-link,
.footer-wrapper .footer .block .owner,
.textbox .toolbar a,
.access,
.button-basket > div .btn-class1,
.basket-content .element #basket-null,
.basket .desc-basket,
.basket-content .element .title-content-basket,
.cabinet .pay-take p,
.cabinet .pay-take a,
.stroke ,
.cabinet .history .btn-send,
.cabinet .categories a span,
.sort .selecter-selected,
.load-tovar p,
.accordion__content,
.profile,
.new-p,
.info-block,
.substrate .form-block .message,
.roadmap-card__text,
.roadmap-card__btn.btn,
.roadmap-feature__text,
.roadmap-choice__link,
.text-content,
.button-basket > div .btn-send,
.btn.btn-light,
.header-price, 
.exit, 
.header-id,
.access-message,
.guest,
.landing .section.last-news .news .date,
.news__date,
.news-item__date,
.news-item p,
.page-wrapper .page-container .of .info-sog,
.right .button-info button,
.adress-hotel,
.price-hotel,
.booking button,
.search-field button,
.booking-info,
.desc-hotel,
.item-room,
.item-field label,
.item-field input,
.modal-body p,
.total-sum button,
.avia-search,
.btn-booking button,
.all-reys,
.orange-info-block,
.guist-info,
.item-field,
.icr-label,
.guist-info .icr-text,
.modal-sm-2,
.reys,
.booking-info,
.avia-search-block,
.avia input,
.hotel-form{
	font-family:"Proxima Nova Rg" !important;
}





