@media (max-width: 1100px) {
	.search-field div {width: 80%;}
	.bg-item{width: 80%;}
	.tumb-hotel-card {text-align: center;width: 100%;}
	.info-card {padding-top: 25px;width: 100%;}
	.item-room {width: 75%;}
	.col-2 {width: 27%;}
	.col-3 {width: 20%;}
	.way {margin-left: 0;width: 100%;}
	.air-info.booking-info ul li {margin-right: 40px;}

	
	
	
	
	
	
}
@media (max-width: 999px) {
	.avia {padding: 95px 40px 0;}
	.avia-search-block {margin-bottom: 25px;}
	.passenger-submit .btn-bright {margin-top: 30px;}
	.located {width: 49%;margin-bottom: 20px;padding-right: 0;}
	.people {padding-right: 0;width: 49%;margin-bottom: 20px;float: right;}
	.date_in {padding: 0;width: 49%;}
	.date_out {float: right;padding: 0;width: 49%;}
	.sort {top: 137px; margin-top: 0;}
	.access-message .row1 {font-size: 21px;padding-right: 20px;width: 65%;}
	.access-message .row2 {float: right;font-size: 21px;text-align: left;width: 35%;}
	.clearfix-2{float: left;width: 100%;padding-top: 0;}
	
	
	
}
@media (max-width: 950px) {
	.search-field div {width: 75%;}
	.bg-item{width: 75%;}
	.price-hotel {padding-top: 0;}
	.desc {width: 55.5%;padding: 0;}
	.price-hotel{width: 55.5%;}
	.item-room {width: 100%;}
	.btn-booking {float: left;margin-top: 20px;position: relative;width: 100%;}
	.contact-field p {margin-bottom: 0;margin-top: 0;float: left;width: 100%;}
	.contact-field p br{display: none;}
	.content-avia-list .btn-booking {width: 100%;}
	.landing .header .rshb {text-align: right;}
	.pic {width: 100%;}
    .right {float: left;width: 100%;padding-right: 0;}
	span.path__link, .path__link {font-size: 14px;}
	
	
	
	
}
@media (max-width: 850px) {
	.tumb-hotel {margin-right: 20px;}
	.all-reys .booking-info ul li {margin-right: 26px;}
	.air-info.booking-info ul li {margin-right: 30px;}
	.header-wrapper .header .static .logo.loyalty {padding-right: 25px;width: 220px;}
	.header-wrapper .header .static .logo.loyalty img  {max-width: 100%;}
    .header-wrapper .header .static .logo img{max-width: 100%;}
	.landing .header .rshb {padding-left: 20px;padding-right: 10px;}
	.respons-tab{overflow: scroll;width: 100%;margin-bottom: 20px;}
	.simple__table {margin: 0 auto 20px;}
    .header-price, .exit, .header-id {margin-left: 22px;}
	.header-price{margin-left: 0;}
    .header-wrapper .no-login .rshb {padding-right: 0;}
    .rshb {width: 26%;}
	
	
}
@media (max-width: 800px) {
	.basket-content .element .pic {width: 100%;}
	.basket-content .element .total-price-content-basket {margin-bottom: 15px;margin-top: 20px;text-align: center;width: 100%;}
	.pad-0 {margin-top: 0 !important;}
	.basket-content .element .input-content-basket {float: none;margin: 15px auto 0;min-width: 125px;padding-right: 0;width: 125px;}
	
	
	
}




@media (max-width: 768px) {
	.category-befor .search {background-color: white;border: 2px solid transparent;box-shadow: 0 0 2px #ccc;float: right;font-family: "Proxima Nova Lt";font-size: 18px;margin-top: 20px;position: absolute;right: 0px;width: 130px;border-radius: 5px;transition: all 0.35s;}
	.category-befor .search.active {width: 100%;}
	.category-befor .search input {float: left;width:55%;transition: all 0.35s;}
	.category-befor .search.active input {width: 80%;}
	.category-befor .cross-3.active {visibility: visible;}
	.category-befor .search img {float: left;margin-left: 10px;margin-right: 10px;margin-top: 5px;}
	.category-befor .search {padding: 8px 8px 9px;}
	.nav-tabs > li {border-right: medium none;width: auto;}
	.hotel-avia .tab-content {padding: 20px 0 20px;}
	.avia {padding: 85px 40px 0;}
	.hotel-avia .tabs-avia .nav-tabs {padding: 0;left: 20px;margin: 0;position: absolute;}
	.page-wrapper .page-container {padding: 0;}
	.hotel-avia .nav-tabs {background: #fff none repeat scroll 0 0;border-bottom: medium none;margin-bottom: 0;padding-left: 20px;}
	.category-befor {padding: 0 20px;}
	.avia {padding:75px 20px 0;}
	.menu-header {margin-top: 20px;}
	.hotel-avia {margin-top: 20px !important;}
	.hotel-avia .nav-tabs > li > a {font-size: 16px;}
    .hotel-avia .nav-tabs {padding-top: 35px;}
	.avia-search-control {display: none;}
	.avia-search-block {margin-bottom: 30px;}
	.avia-passengers-count .tittle {margin-bottom: 28px;}
	.textbox input {font-size: 16px;}
	.selecter-selected {font-size: 16px;padding: 13px 15px;}
	.selecter-item {font-size: 16px;}
	.hotel-avia .tab-content {padding: 20px 0 32px;}
	.btn.btn-bright {font-size: 18px;}
	.hotel-form {padding: 0 20px 50px;}
	.people .selecter-selected {padding: 15px;}
	.located {width: 100%;margin-bottom: 25px;}
	.people {float: left;width: 100%;margin-bottom: 25px;}
	.date_in {width: 100%;margin-bottom: 25px;}
	.date_out {float: left;width: 100%;margin-bottom: 25px;}
	.botom-form {margin-top: 4px;}
	.hotel-form button{width: 100%;}
	.passeger-class .tittle br{display: none;}
	.hotel-form {padding: 0 20px 8px;}
	.footer-wrapper {margin-top: 0px;}
	.hotel-avia {margin-bottom: 0 !important;}
	.category-footer .footer .info {border-top: none;}
	.footer-wrapper .footer .block .title {text-align: center;margin-bottom: 10px;font-size: 18px;}
	.footer-wrapper .footer .block .owner {text-align: center;}
	.footer-wrapper .footer .block .phone {font-size: 30px;margin-top: 20px;text-align: center;}
	.footer-wrapper .footer .block .owner {font-size: 16px;}
	.footer-wrapper .footer .block .footnote{text-align: center;}
	.footer .info .block.social, .footer .info .block.links {text-align: center;width: 100%;}
	.footer-wrapper .footer .social a span{display: none;}
	.footer-wrapper .footer .block.social a {display: inline-block;height: 23px;margin: 5px 6px 0;padding-left: 0;width: 23px;}	
	.footer-wrapper .footer .block.social a, 
	.footer-wrapper .footer .block.links a {font-size: 16px;line-height: 18px;margin-top: 9px;}
	.footer-wrapper .footer .block.links a:hover{text-decoration: none;}
	.footer-wrapper .footer .copy span{display:none;}
	.footer-wrapper .footer .copy span:first-child{display: block;float:none;}
	.footer-wrapper .footer .copy{border-top:medium none;text-align:center;padding:0;margin-top:50px;}
	.footer-wrapper .footer {padding-bottom: 40px;}
	.footer-cart div a{display: block;float: left;width: 100%;line-height: 20px;margin-left: 0;}	
	.footer-cart > div {text-align: center;}
	.footer-cart {overflow: hidden;}
	.footer-cart img {float: none;}
	#platforma {float: none;}
	.search-field {padding: 0 20px 20px;}
	.search-field div {margin-bottom: 17px;width: 100%;font-size: 16px;}
	.search-field button{font-size: 18px;width: 100%;}
	.hotel-list li {padding: 20px 20px 5px;}
	.bg-item {padding: 0;width: 100%;background: rgba(0, 0, 0, 0) none repeat scroll 0 0;}
	.tumb-hotel {margin-bottom: 15px;margin-right: 0;width: 100%;}
	.desc {padding-top: inherit;margin-bottom: -2px;width: 100%;}
	.title-hotel {font-size: 18px;width: 100%;}
	.price-hotel p {margin-bottom: 1px !important;margin-top: 1px;}
	.booking {bottom: 30px;color: #1f1f1f;float: left;font-size: 22px;font-weight: bold;max-width: inherit;padding-top: 40px;position: relative;right: auto;text-align: center;width: 100%;}
	.booking button{font-size:18px;}
	.breadcrumbs h2 { text-align: left;font-size: 26px;}
	.loading {background: #fff;border-top: 1px solid #e2e3e4;padding-bottom: 35px;}
	.hotel-list {margin-bottom: 0;padding: 0;}
	.tumb-hotel img{width: 100%;}
	.tumb-hotel-card img {width: 100%;}
	.info-card .rating {margin-bottom: 10px;}
	.info-card .title-hotel {font-size: 18px;margin-bottom: 4px;}
	.booking-info {padding-top: 9px;}
	.info-card .adress-hotel {font-size: 15px;}
	.booking-info ul span {font-size: 13px;margin-bottom: 4px;}
	.booking-info ul p {margin: 0;font-size: 13px;}
	.booking-info ul li {margin-right: 30px;}
	.card-hotel {padding: 30px 20px;}
	.booking-info ul li {width: 49%;margin-right: 0;}
	.booking-info ul li:nth-child(2n){float: right;}
	.booking-info {margin-bottom: 27px;padding-bottom: 11px;}
	.desc-tab .nav-tabs > li > a {font-size: 15px;margin-right: 16px !important;padding: 5px 0;}
	.desc-hotel p {width: 100%;font-size: 14px;}
	.title-booking {font-size: 13px;padding-bottom: 10px;display: block;}
	.room-info {font-size: 13px;padding: 30px 0;}
	.btn-booking button {font-size: 18px;}
	.col-1 {padding-left: 10px;width: 25%;}
	.col-2 {padding-left: 10px;width: 30%;}
	.col-4 {padding-left: 10px;width: 25%;}
	.orange-info-block span {float: left;font-size: 22px;margin-right: 0;width: 100%;}
	.orange-info-block{padding: 33px 20px 40px;text-align:center;margin-bottom: 34px;}
	.guist-info h2 {font-size: 26px;margin-bottom: 0;}
	.block-bokking {margin-top: 16px;}
	.block-title span {font-size: 16px;margin-bottom: 2px;}
	.block-title {margin-bottom: 25px;}
	.item-field label {font-size: 16px;margin-bottom: 4px;}
	.item-field {margin-right: 0;max-width: inherit;}
	.item-field {margin-bottom: 15px;}
	.item-field input {font-size: 16px;}
	.item-field.email {max-width: inherit;}
	.item-field.phone-f {max-width: inherit;}
	.block-bokking {padding-bottom: 14px;}
	.block-bokking {margin-bottom: 26px;}
	.guist-info .icr-label {margin-top: 3px;margin-bottom: 26px;padding-bottom: 33px;}
	.guist-info .icr-item {float: left;}
	.guist-info .icr-text {float: left;width: 80%;}
	.total-sum {clear: both;padding-bottom: 73px;text-align: center;width: 100%;}
	.total-sum span span {display: block;font-size: 33px;margin-bottom: 14px;margin-left: 0;}
	.total-sum button {float: left;max-width: inherit;padding: 12px 0;width: 100%;margin-bottom: 50px;}
	.orange-info-block div {width: 100%;}
	.modal-body {padding: 40px 20px;}
	.modal-sm h4 {font-size: 26px;margin-bottom: 12px;}
	.modal-sm p {font-size: 14px;}
	.all-reys .booking-info ul li {margin-right: 0;}
	.all-reys {padding-top: 0;}
	.country {margin-left: 18px;}
	.way {font-size: 13px;padding-top: 11px;}
	.orange-info-block.air-orange p {display: block;font-size: 15px;}
	.orange-info-block.air-orange p:first-child {margin-right: 0;}
	.tarife {padding-bottom: 5px;}
	.orange-info-block.air-orange{padding: 16px 20px 33px;}
 	.orange-info-block div a {font-size: 13px;}
	.orange-info-block.air-orange span {margin-right: 0;}
	.avia-info .item-field.email {max-width: inherit;}
	.avia-info .item-field.phone-f {margin-right: 0;max-width: inherit;}
	.guist-info.avia-info h2 {margin-top: 0;}
	.avia-info .block-bokking {margin-top: 23px;}
	.contact-field {margin-bottom: 24px;}
	.passengers-data .old {margin-bottom: 20px;margin-top: 16px;}
	.passengers-data .item-field {margin-bottom: 15px;}
	.air-info.booking-info ul li {margin-right: 0;}
	.orange-time span {margin-top: 25px;padding-left: 29px;font-size: 16px;}
	.orange-time {min-height: inherit;padding-bottom: 30px;padding-left: 20px;padding-right: 20px;width: 100%;margin-bottom: 40px;}
	.modal-sm-2 .modal-body {padding: 50px 20px 22px;}
	.modal-body .reys {margin-bottom: 0;}
	.without-change {width: 100%;}
	.without-change h3 {margin-top: 13px;}
	.with-change {padding-left: 0;width: 100%;}
    #ascrail2000-hr {margin-top: 10px;}
    #ascrail2001-hr {margin-top: 10px;}
    .change {margin-bottom: 30px;padding: 0 20px 52px;}
    .content-avia-list .btn-booking {width: 100%;}
    .content-avia-list .room-info {padding: 15px 0;}
    .to-start {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;margin-left: 0;padding-left: 0;}
    .content-avia-list .room-info {font-size: 13px;line-height: 17px;}
    .content-avia-list .col-1{width: 25%;padding-left: 5px;padding-right: 5px;}
    .content-avia-list .col-2{width: 25%;padding-left: 5px;padding-right: 5px;display: none;}
    .content-avia-list .col-3{width: 25%;padding-left: 5px;padding-right: 5px;}
    .content-avia-list .col-4{width: 25%;padding-left: 5px;padding-right: 5px;}
    .content-avia-list .col-5{width: 25%;padding-left: 5px;padding-right: 5px;}
    .avia-list {padding: 0 20px 35px;}
    .header-wrapper .header .static .logo.loyalty {width: 47%;float: left;padding-right:0;}
    .header-wrapper .header .static .logo {width: 47%;float: right;}
    .header-wrapper .header .static .logo.loyalty img  {max-width: 100%;}
    .header-wrapper .header .static .logo img{max-width: 100%;}
    .header-wrapper .header {display: block;}
    .header-wrapper .header .dynamic {display: block;}
    .cabinet-header{display: block !important;float: left;width: 100% !important;}
    .landing .header .rshb {padding-left: 0px;}
    .exit{line-height: 62px;}
    .header-id{line-height: 63px;}
    .header-price {line-height: 60px;}
    .header-wrapper .logo {margin: 15px auto 0;}
    .header-wrapper .header .dynamic div button {float: right;}
    .rshb img{float: right;}
    .loyalty img{float: left;}
    .header-wrapper .header .dynamic div {padding: 20px 0;}
    .path {padding: 20px 20px;}
    .for-news .path {padding: 20px 0px;}
    .substrate .form-block-reward {padding: 0;}
    .news-item {padding: 0 20px;}
    .page-wrapper .page-container.for-news{padding: 0 20px;}
    .inner__content {padding: 0 20px;}
    .substrate {padding: 40px 0;}
    .help__form .textbox-2 {padding-left: 0;}
    .help__form .textbox-2 .selecter {float: left;margin-top: 10px;width: 100%;}
    .textbox-span {display: block;left: -3px;position: relative;top: 0;width: 100%;}
    .page-wrapper .page-container.history {padding:1px 20px 35px;}
    .cabinet .categories {padding: 0 20px;}
    .cabinet .categories {margin-bottom: 50px;}
    .cabinet .categories .separator {float: left;margin: 40px 0 20px;width: 100%;}
    .category-befor .search input {font-size: 18px;}
    .landing .novelty .item-wrapper .item {width: 100%;position: relative;background: #1f9933;}
    .landing .novelty .item-wrapper .item .content-wrapper {width: 100%;}
    .landing .novelty .item-wrapper img {display: none;}
    .landing .novelty .item-wrapper .item .content span {color: #fff;text-align: center;}
    .landing .novelty .item-wrapper .item .content {padding-top: 46px;padding-left: 10px;padding-right: 20px;padding-bottom: 70px;}
    .landing .novelty .item-wrapper .item .title {font-size:26px;line-height:27px;margin: 38px 0 27px;}
    .slick-slide .btn{float: none;width: 240px;margin: 0 auto;display: block;font-size: 16px;color: #000;padding: 0;}
    .slick-slide .btn span{color: #000 !important;}
    .landing .novelty .slick-dots {bottom: 44px;left: 0;margin: 0;position: relative;text-align: center;width: 100%;}
    .invitation .btn{float: none;width: 240px;margin: 0 auto;display: block;font-size: 16px;color: #000;padding: 0;}
    .landing .novelty {margin-bottom: 0;}
    .landing .section {padding: 26px 20px;}
    .landing .section h1 {font-size: 26px;line-height: 29px;}
    .landing .section.how-it-works p{font-size:14px;line-height:17px;margin-bottom:16px;margin-top:21px;}
    .landing .section.how-it-works .concept .stage span{font-size:14px;margin-bottom:11px;margin-top:25px;}
    .landing .section.how-to-start {padding: 26px 0;}
    .landing .section.how-to-start .invitation {margin-top: 23px;}
    .landing .section.how-to-start .invitation .label {font-size: 26px;line-height: 30px;}
    .landing .how-to-getbonus{padding: 9px 20px;}
    .landing .section.how-to-getbonus .bankcard {margin-top: 42px;}
    .landing .section.how-to-getbonus .bankcard p {font-size: 17px;line-height: 23px;}
    .landing .section.how-to-getbonus .bankcard img {margin-bottom: 46px;}
    .web-service .marker{display: none;	}
    .landing .section.web-service .flat-link {padding: 0 20px;}
    .landing .section.web-service .flat-link > * {font-size: 14px;line-height: 20px;}
    .landing .section.web-service .flat-link:first-child .art {width: 30px;padding-right: 0;padding-left: 0px;}
    .landing .section.web-service .flat-link:first-child .art img{max-width: 100%;}
    .landing .section.web-service .text{padding-left: 30px;}
    .landing .section.web-service .flat-link{border-left: 1px solid #e6e6e6;}
    .landing .section.web-service .flat-link:last-child .art {width: 40px;padding-right: 0;}
    .landing .section.web-service .flat-link:last-child .art img{max-width: 100%;}
    .points-exchange-scheme .nav-tabs > li {width: 100%}
    .landing .section.how-to-exchange .points-exchange-scheme .nav li:not(:last-child) a {border-right: 1px solid #e6e6e6;}
    .landing .section.last-news {padding: 20px 20px 40px;}
    .landing .section.last-news .news a {font-size: 14px;line-height: 20px;}
    .landing .section.last-news .news {margin-bottom: 0;margin-top: 30px;}
    .landing .section.how-to-exchange .points-exchange-scheme .nav a {height: auto;padding-bottom: 10px;padding-top: 10px;}
    .landing .section.how-to-exchange .tab-content {padding-top: 40px;}
    .simple__table th {padding: 0 10px;}
    .cabinet .substrate {padding: 80px 20px;}
    .basket-content .element .title-content-basket {display: block;padding-bottom: 15px;width: 100%;}
    .button-basket {padding: 0 20px 40px;}
    .category-befor .desc-basket {line-height: inherit;margin-bottom: 30px;padding-top: 0;position: relative;text-align: center;width: 100%;}
    .basket-content .element .input-content-basket {display: block;float: none;margin: 0 auto 20px;overflow: hidden;width: 121px;}
    .basket-content .element .total-price-content-basket {float: none;margin-bottom: 20px;text-align: center;width: 100%;}
    .roadmap-choice {margin-bottom: 50px !important;padding: 0 20px;}
    .basket-content .element .access{text-align: left;}
    .basket-content .element {padding: 15px 20px 40px;}
    .category .loading{background: none;border-top: medium none;}
    .category .button-info button{width: 100%;margin-bottom: 20px;}
    .category .button-info {margin-bottom: 20px;}
    .content-page img {width: auto;max-width: 100%;}
    .left-acces {float: left;margin-bottom: 15px;width: 45%;}
    .right-acces {float: right;text-align: right;width: 45%;}
    .access .list .count {margin-right: 15px;}  
    .access .list {font-size: 14px;}
    .access hr {margin: 8px 0 25px;}
    .row1 {width: 45%;}
    .row2 {float: right;width: 45%;}
    .bottom-list .list{margin-bottom: 24px;}
    .totatl-text{margin-bottom:20px;}
    .basket-content .info-sog {margin: 17px 0 0;}
    .profile-str {padding: 20px;}
    .pad-0 {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;}
    .profile {margin-bottom: 30px;padding: 0 20px;font-size: 14px;}
    .column-1 {float: left;width: 40%;}
    .column-2 {float: right;width: 55%;}
    .header .btn {margin-bottom: 20px;margin-right: 0;margin-top: 20px;}
    .substrate .info-block {padding: 0;}
    .substrate .info-block h1 {font-size: 26px;}
    .substrate .form-block .textbox [type="password"] {padding-right: 48px;}
    .padding-1{padding: 40px 20px;}
    .sort {position: relative;}
    .button-list-access{margin-top: 20px;}
    .access-message {margin: 39px 0 0;padding: 23px 20px 25px;}
    .access-message .row1 {font-size: 14px;padding-right: 20px;width: 64%;}
	.access-message .row2 {float: right;font-size: 14px;text-align: left;}
	.button-list-access button {font-family: "Proxima Nova Lt" !important;font-weight: lighter !important;margin-bottom: 10px;max-width: inherit;min-width: 180px;width: 100%;}
	.access-message .list{margin-bottom: 12px;}
	.button-list-access .btn-class1 {border: 1px solid #ccc;}
    .button-list-access .btn-class1:hover {border: 1px solid #1f9933;}
    .error_mail {padding: 14px 10px;text-align: center;}
    .error_mail {line-height: 16px;}
    aside.menu nav.menu-main {padding: 40px 20px 1px;}
    aside.menu nav.menu-primary {padding: 46px 20px;}
    aside.menu nav.menu-primary li > ul li{line-height: 20px;margin-bottom: 22px;}
    .news {padding: 0 ;}
    .news-item {padding-right: 20px;padding-bottom: 40px;}
    
    
    
    
    
    
    
    
	
}
@media (max-width: 660px) {
	
	
	
	
	
	
	
}
@media (max-width: 600px) {
	
	
	
	
	
	
	
	
}
@media (max-width: 520px) {
	
	
	
	
	
}
@media (max-width: 480px) {
	.photos li {width: 100%;}
	.photos img {max-width: inherit;width: 100%;}
	.column-1 {width: 35%;}
	.column-2 {width: 65%;}
	.padding{padding:40px 20px;overflow: hidden;}
	.padding .btn.btn-bright {min-width: 100%;}
	.padding form .control .link {display: block;position: relative;}
	
	
	
	
	
	
}
@media (max-width: 440px) {
	
	

	
	
	
}
@media (max-width: 400px) {
	
	
	
	
	
	
	
		
}
@media (max-width: 360px) {
	
	
	
	
	
	
	
	
}



















@media (min-width: 1200px) {

}
@media (min-width: 992px) {

}
@media (min-width: 767px) {
	
}

























