// Table cell pattern

.pattern-cell (@width: 100%) {
    display: table;
    width: @width;

    &>* {
        display: table-cell;
        vertical-align: inherit;
    }

    &:not(.top) { vertical-align: middle; }
}

// Table pattern

.table {
    display: table;
    border-collapse: collapse;

    &>* {
        display: table-row;

        &>* {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

// Selection

.selection (@bg-color, @color) {

    &::selection {
        background-color: @bg-color;
        color: @color;
    }
}

// .placeholder (@color) {

//     &::-webkit-input-placeholder {
//         color: @color;
//     }

//     &::-moz-placeholder {
//         color: @color;
//     }

//     &:-moz-placeholder {
//         color: @color;
//     }
// }

// Trinagle

// .trinagle (left, @size, @color) {
//     border-color: transparent @color transparent transparent;
//     border-width: @size/2 @size/2 @size/2 0;
// }

// .trinagle (right, @size, @color) {
//     border-color: transparent transparent transparent @color;
//     border-width: @size/2 0 @size/2 @size/2;
// }

// .trinagle (right-left, @size, @color) {
//     border-color: @color transparent transparent;
//     border-width: @size @size 0 0;
// }

// .trinagle (right-top, @size, @color) {
//     border-color: transparent @color transparent transparent;
//     border-width: 0 @size @size 0;
// }

// .trinagle (bottom, @size, @color) {
//     border-color: @color transparent transparent transparent;
//     border-width: @size/2 @size/2 0 @size/2;
// }

// .trinagle (top, @size, @color) {
//     border-color: transparent transparent @color transparent;
//     border-width: 0 @size/2 @size/2 @size/2;
// }

// .trinagle (@_, @size, @color) {
//     width: 0px;
//     height: 0px;
//     border-style: solid;
// }

// Related to text

.font-size(@size, @factor: 0){
    line-height: @size + @factor;
    font-size: @size;
}