.category {
    background: #f5f6f7;
	button{cursor:pointer;}
}

.btn-light{min-width:130px;}

.category-befor {
    padding-top: 45px;
    padding-bottom: 45px;
    .search {
        border-bottom: 2px solid #abacac;
        padding: 10px;
        width: 50%;
		float:left;
        input {
            border: 0px;
            width: 90%;
            background: rgba(0, 0, 0, 0);
			font-family: 'Proxima Nova Lt';
			font-size:14px;
        }
        img {
            margin-right: 25px;
        }
        &:hover {
            border-color: #1f9933;
        }
    }
    .menu {
        width: 25%;
        float: left
    }
    .back {
        width: 25%;
        float: left
    }
}

.clearfix.category-befor {
    padding-top: 0;
    padding-bottom: 0;
}

.breadcrumbs{width:50%;float:left;font-family: 'Proxima Nova Lt';font-weight:300}
.breadcrumbs {
    h2 {
        font-size: 33px;
        color: #262626;
		font-weight:300;
    }
}

.basket{
	button{cursor:pointer}
}

.btn-sort {
    border: 1px solid #ccc;
    padding: 6px 25px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Proxima Nova Lt';
    color: #262626;
    font-size: 18px;
    margin-right: 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    width: 100%;
    margin: 15px 6px;
}

.sort {
	float:right;
	width:15%;
	min-width:100px;
    button {
        float: right;
		min-width:160px;
		margin-right:5%;
    }
}

.page-container .catalog-category {
	display:table;
	width:100%;
	a,a:visited,a:hover{color:#1f1f1f}
    .element {
        background: #fff;
        padding: 15px;
        box-sizing: border-box;
        font-family: 'Proxima Nova Lt';
        width: 24%;
        margin-right: 1%;
        float: left;
        margin-bottom: 1%;
        .pic {
            width: 100%;
            height: 50%;
            img {
                height: 100%;
                display: block;
                margin: 0px auto;
                max-width: 100%;
            }	
        }
        h3 {
            font-size: 13px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
        .category-in-element {
            font-size: 13px;
            color: #999999;
            text-align: center;
            line-height: 13px;
        }
		
        .price {
            text-align: center;
            font-size: 17px;
            margin-top: 7px;
            font-weight: bold;
        }
    }
}

.loading{display:table;width:100%;font-family: 'Proxima Nova Lt';}
.load-tovar {
    margin-top: 60px;
    cursor: pointer;
    img {
        margin: 0px auto;
        display: block;
    }
    p {
        text-align: center;
        color: #1e9431;
        font-size: 22px;
    }
}

.category-footer {
    .footer {
        .info {
            border-top: 1px #e2e3e4 solid;
        }
    }
    a {
        text-decoration: underline;
    }
}

.header-price {
    color: #1f9933;
    float: left;
    line-height: 100px;
    font-size: 21px;
    font-weight: 300;
    font-family: 'Proxima Nova Lt';
	a{color: inherit;text-decoration:none;}
}

.header-id {
    color: #000;
    line-height: 100px;
    font-size: 16px;
    font-family: 'Proxima Nova Lt';
	a{color: inherit;text-decoration:none;}
}

.exit {
    text-align: right;
    font-size: 18px;
    font-family: 'Proxima Nova Lt';
    line-height: 100px;
	a{color: inherit;text-decoration:none;}
}

.header-price,
.exit,
.header-id {
    float: right;
    margin-left: 30px;
}
.header__content {
  img {
    margin-right: 5px;
  }
}

.dynamic2 {
    right: 0px;
}

.table-container{
	width: 100%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;
}

.footer-cart {
    width: 100%;
    background: #fff;
    padding: 15px;
    & > div {
        max-width: 1200px;
        margin: 0px auto;
    }
    img {
        float: left;
		max-width:457px;
        font-family: 'Proxima Nova Lt';
    }
    a {
        line-height: 120px;
        padding: auto 35px;
        font-size: 14px;
        color: #808080;
        text-decoration: underline;
		font-family: 'Proxima Nova Lt';
    }
    #cart-footer {
        width: 100%;
    }
}

#platforma {
    float: right;
}

.back {
    display: none;
    button {
        font-size: 16px;
        font-weight: bold;
        float: right;
        font-family: 'Proxima Nova Lt';
        padding: auto 5px;
        img {
            height: 14px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}


.btn-back {
    border: 1px solid #ccc;
    padding: 11px 10px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Proxima Nova Lt';
    color: #262626;
    font-size: 18px;
    margin-right: 12px;
    line-height: 1.42857143;
    border-radius: 4px;
}

.content-page {
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 30px;
    display: table;
    max-width: 1190px;
    font-family: 'Proxima Nova Lt';
    padding-bottom: 100px;
    margin-left: 15px;
    margin-bottom: 100px;
    img {
        width: 297px;
    }
    .info {
        border-bottom: 2px solid #cccccc;
        h2 {
            font-size: 33px;
            color: #262626;
            text-align: left;
        }
        .category-in-content {
            text-align: left;
            color: #999999;
            font-size: 14px;
        }
        .price {
            font-size: 33px;
            font-weight: bold;
            line-height: 100px;
        }
    }
    .pic {
        img {
            display: block;
            margin: 0px auto;
        }
    }
}

.btn-pbuy {
    border: 1px solid #ccc;
    padding: 12px 45px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Proxima Nova Lt';
    color: #262626;
    font-size: 18px;
    margin-right: 12px;
    line-height: 1.42857143;
    border-radius: 7px;
    font-weight: bold;
    height: 57px;
    box-sizing: border-box;
}

.btn-sort:hover,
.btn-back:hover,
.btn-pbuy:hover {
    border-width: 1px;
    border-color: #1f9933;
}

.btn-buy {
    border: 0px;
    border-bottom: 3px solid #e6b000;
    padding: 12px 42px;
    background-color: #ffd21f;
    font-family: 'Proxima Nova Lt';
    color: #262626;
    font-size: 18px;
    margin-right: 12px;
    line-height: 1.42857143;
    border-radius: 7px;
    font-weight: bold;
    height: 55px;
    box-sizing: border-box;
    &:hover {
        background: #f7d343;
        border-color: #f3ca45;
    }
}

.button-info {
    margin-bottom: 40px;
}

.text-content {
    padding-top: 40px;
}
	.textbox span{border:0px;background:rgba(0,0,0,0);right:20px;top:15px;cursor:pointer;position:absolute;}


	
	#mess{display:none}
	#click_show{display:block;}
	#click_hide{display:none;}
	#click_show2{display:block;}
	#click_hide2{display:none;}
	
	.error_pass{display:none;color:#f04444;float:right;font-family: 'Proxima Nova Lt';font-size:16px;}
	.min_pass{display:none;color:#f04444;float:right;font-family: 'Proxima Nova Lt';font-size:16px;}

.basket{
    background: #f5f6f7;
	
	a,a:visited,a:hover{color:#262626;text-decoration:none}
	
    .title-page {
        width: 50%;
        float: left;
        text-align: left;
        font-size: 33px;
        color: #1f1f1f;
    }
	
    .desc-basket {
        font-size: 16px;
        color: #1f1f1f;
        text-align: right;
        line-height: 66px;
		padding-top:30px;
		float:left;
		width:50%;
		font-family: 'Proxima Nova Lt'
    }
}

.basket-content {
    .element {
        display: table;
        background: #fff;
        padding: 15px 45px;
		min-height:200px;
        width: 100%;
        margin-bottom: 15px;
        font-family: 'Proxima Nova Lt';
        & > div {
            display: table-cell;
        }
		
		#basket-null{line-height:200px;text-align:center;font-size:21px;}
		
        .pic {
            width: 20%;
            img {
                display: block;
                margin: 0px auto;
            }
        }
        .title-content-basket {
            font-size: 18px;
            vertical-align: middle;
            width: 45%;
            a {
              color: inherit;
              text-decoration: none;
            }
            .price-content-basket {
                font-size: 18px;
                text-align: left;
                font-weight: bold;
            }
        }
        .input-content-basket {
            vertical-align: middle;
            input {
                width: 40px;
                height: 40px;
                border: 1px solid #ccc;
                font-size: 18px;
                text-align: center;
                background: #fff;
                display: block;
                float: left;
            }
            button {
                width: 40px;
                height: 40px;
                border: 1px solid #ccc;
                font-size: 24px;
                font-weight: bold;
                text-align: center;
                background: #fff;
                float: left;
            }
        }
        .total-price-content-basket {
            font-size: 21px;
            font-weight: bold;
            vertical-align: middle;
            text-align: center;
        }
    }
}

.button-basket {
    display: table;
    padding-bottom: 40px;
    & > div {
        max-width: 950px;
        margin: 40px auto;
        button {
            width: 280px;
            float: left;
			cursor:pointer;
        }
        .btn-class1 {
            border: 1px solid #ccc;
            padding: 20px 45px;
            background-color: rgba(0, 0, 0, 0);
            font-family: 'Proxima Nova Lt';
            color: #262626;
            font-size: 22px;
            line-height: 1.42857143;
            border-radius: 4px;
            &:hover {
                border-width: 1px;
                border-color: #1f9933;
            }
        }
        .btn-send {
            padding: 20px 45px;
            border: 0px;
            border-bottom: 3px solid #e6b000;
            background-color: #ffd21f;
            font-family: 'Proxima Nova Lt';
            color: #262626;
            font-size: 22px;
            margin: auto 20px;
            line-height: 1.42857143;
            border-radius: 4px;
            font-weight: bold;
            box-sizing: border-box;
            float: left;
            &:hover {
                background: #f7d343;
                border-color: #f3ca45;
            }
        }
    }

    &.button-oneline {
      text-align: center;

      button {
          width: 280px;
          float: none;
          display: inline-block;
      }
    }
}

.wishnull{
	min-height:200px;
	p{line-height:200px;text-align:center;}

}

.button-list{
	.btn-class1 {
            border: 1px solid #ccc;
            padding: 15px 65px;
            background-color: rgba(0, 0, 0, 0);
            font-family: 'Proxima Nova Lt';
            color: #262626;
            font-size: 22px;
            line-height: 1.42857143;
            border-radius: 4px;
            &:hover {
                border-width: 1px;
                border-color: #1f9933;
            }
        }
        .btn-send {
            padding: 15px 65px;
            border: 0px;
            border-bottom: 3px solid #e6b000;
            background-color: #ffd21f;
            font-family: 'Proxima Nova Lt';
            color: #262626;
            font-size: 22px;
			margin-right:15px;
            line-height: 1.42857143;
            border-radius: 4px;
            font-weight: bold;
            box-sizing: border-box;
            float: left;
            &:hover {
                background: #f7d343;
                border-color: #f3ca45;
            }
        }
}

.inner__content {
  width: 100%;
  max-width: 100%;
  padding: 0 80px;
}

.text{
	.button{
		float:right;
		border:0px;
		background:rgba(0,0,0,0);
	}
}

.icr-text{font-family: 'Proxima Nova Rg'}

.help {
  &__block {
    margin-bottom: 70px;
    .title {
      text-transform: uppercase;
      font-family: 'Proxima Nova Rg';
      font-size: 20px;
      line-height: 1.4em;
      margin-bottom: 10px;
    }
  }

  &__form {
    max-width: 640px;

    .title {
      font-family: 'Proxima Nova Lt';
      font-size: 32px;
      line-height: 1.4em;
    }

    .textbox {
      margin-bottom: 25px;
      span {
        display: block;
        float: left;
        width: 200px;
		font-family: 'Proxima Nova Rg';
		position:inherit;
		padding-left:15px;
		font-size:18px;
		textarea{font-family: 'Proxima Nova Rg';font-size:18px;}
      }
      .select,
      input {
        float: right;
        width: 440px;
      }
    }
  }
}

.page-wrapper .page-container .of{
	padding:0px 0px;
	.textbox{
		h4{
			font-size:20px;
			color:#1f1f1f;
			text-align:left;
			margin:10px auto;
			font-family: @family-proxima-rg;
			font-weight:300;
			}
	}
	.infobox{
		text-align:left;
		border:1px solid #dbdbdb;
		font-family: @family-proxima-rg;
		.row1{
			font-size:14px;
			color:#999999;
			line-height:18px;
			border-bottom:1px solid #dbdbdb;
			width:100%;
			padding:10px 35px;
		}
		.row2{
			padding:15px 35px;
			color:#1e9431;
			font-size:14px;
		}
	}
	.select{
		position:relative;
		.options{
			background:#fff;
			border:1px #e0e0e0 solid;
			position:absolute;
			border-radius:4px;
			width:100%;
			height:auto;
			z-index:2;
			display:none;
			div{
				height:54px;
				padding:0 20px;
				font-family: @family-proxima-rg;
				font-size:18px;
				border-bottom:1px #e0e0e0 solid;
				line-height:54px;
				font-size:18px;
				&:hover{cursor:pointer;background:rgba(247,211,67,0.25)}
				}
				
			}
	}
	
	accordion{color:#1e9431}
	
	.form-block .title{
		font-size:20px;
		font-family: @family-proxima-rg;
		
		}
	.form-block .icr-label{
		span.icr-text{font-family: @family-proxima-rg;font-size:18px;}
	}	
	
	.control{display:inline-table}
	
	.btn-send {
            padding: 18px 80px;
            border: 0px;
            border-bottom: 3px solid #e6b000;
            background-color: #ffd21f;
            font-family:@family-proxima-rg;
            color: #262626;
            font-size: 22px;
			margin-right:15px;
            line-height: 1.42857143;
            border-radius: 4px;
            font-weight: 400;
            box-sizing: border-box;
            float: left;
			cursor:pointer;
            &:hover {
                background: #f7d343;
                border-color: #f3ca45;
            }
        }
		
	.info-sog{
		font-size:14px;
		font-family:'Proxima Nova Lt';
		font-weight:300;
		a{color:#1e9431;}
		}	
}

.menu-header {
		  width: 15%;
		  margin-right: 10%;
		  float:left;
		  button {
			width: 100%;
			max-width:130px;
			
		  }
	}	  

.clearfix{};

.accordion {
  font-family: 'Proxima Nova Rg';
  &__link {
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
    line-height: 2em;
	color:#1e9431;

    &.active {
      text-decoration: none;
    }
  }
  &__content {
    font-family: 'Proxima Nova Lt';
    padding: 25px 30px;
    font-size: 18px;
    line-height: 1.2em;
    max-width: 680px;
    margin: 10px 0 20px;
    display: none;
	background:#fff8eb;
  }
}

.path {
    width: 100%;
    padding: 20px 0;
    margin: 0px 0;
    @media (min-width: 1024px) {
        padding: 30px 0;
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &__item {
        display: inline-block;
        & + &::before {
            content: "—";
            display: inline-block;
            color: #ccc;
  //          font-family: @family-proxima-lt, Helvetica, Arial, sans-serif;
            font-size: 9px;
            font-weight: 400;
            margin: 0 5px;
            @media (min-width: 1024px) {
                font-size: 14px;
            }
        }
    }
    &__link {
		font-family: 'Proxima Nova Rg';
        font-size: 14px;
        color: #1e9431;
        font-weight: 400;
        text-decoration: underline;
		
        span& {
            color: #999;
			font-family: 'Proxima Nova Rg';
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
        }
    }
}


