
// Min

@media (min-width: 768px) {

    .how-it-works {

        .stage {
            margin-top: @section-content-padding/2;
            width: 33.3333%;

            img {
                margin-bottom: @section-content-padding/4;
            }
        }
    }

    .how-to-getbonus {

        .bankcard {

            &>div {
                width: 50%;

                &:first-child {
                    text-align: right;
                }

                &:last-child {
                    padding-left: @section-content-padding/2;
                }
            }
        }
    }

    .how-to-exchange {

        .points-exchange-scheme {

            .nav-tabs {
                width: 100%;

                li {
                    width: 33.3333%;
                }
            }
        }   
    }
}

@media (min-width: 1024px) {

    .how-it-works {

        p {
            padding: 0 10%;
        }

        .concept {

            span {
                padding: 0 15%;
            }
        }
    }

    .how-to-exchange {

        .points-exchange-scheme {

            .nav {

                a {
                    padding-left: 0;
                    padding-right: @indent-default*2;
                }
            }
        }   
    }

    .last-news {
        padding-right: @section-content-padding;
        padding-left: @section-content-padding;
    }

    .footer {

        .info {

            .block {

                &:first-child {
                    width: 40%;
                }

                &.social, &.links {
                    width: 30%;
                }
            }
        }

        .copy {

            span {
                width: 30%;

                &:first-child {
                    width: 40%;
                }
            }

        }
    }

    .pay-take {
        margin: 0 auto;
        max-width: 864px;

        .art {
            padding-right: @indent-default;
            float: left;
            width: 60%;
        }

        .text {
            padding-left: @indent-default;
            float: left;
            width: 40%;
        }
    }

    .categories {

        a { width: 25%; }
    }
}

@media (min-width: 1200px) {

    .how-to-getbonus {

        .bankcard {

            &>div {
                width: 50%;

                &:first-child {
                    text-align: right;
                }

                &:last-child {
                    padding-right: @section-content-padding/2;
                }
            }
        }
    }

    .how-to-exchange {

        .points-exchange-scheme {

            .nav a em { display: inline !important; }
        }   
    }
}

// Max

@media (max-width: 1023px) {
    .how-to-getbonus {

        h1 {
            padding: 0 2%;
        }
    }

    .web-service {

        .flat-link {

            .art {
                display: none;
            }
        }
    }

    .how-to-exchange {

        .points-exchange-scheme {

            .nav {

                a {
                    padding-left: @indent-default;
                    padding-right: @indent-default;
                }

                .marker-wrapper {
                    display: none !important;
                }
            }
        }   
    }

    .last-news {
        padding-right: @section-content-padding/2;
        padding-left: @section-content-padding/2;
    }

    .footer {

        .info {

            .block {

                &:first-child {
                    float: none;
                }

                &.social, &.links {
                    float: left;
                    width: 50%;
                }
            }
        }

        .copy {

            span {
                &:not(:first-child) {
                    margin-left: @indent-default;
                }
            }
        }
    }

    .pay-take {

        .text {
            margin-top: @indent-default;
        }
    }

    .categories {

        a { width: 33.3333%; }
    }
}

// Combined

@media (min-width: 960px) and (max-width: 1024px) {

    .how-it-works {

        p {
            padding: 0 5%;
        }

        .concept {

            span {
                padding: 0 5%;
            }
        }
    }
}

@media (max-width: 768px){
	.landing .section.how-it-works .concept .stage{float:none;width:100%;padding:25px;}
	.landing .section.web-service .flat-link{width:100%}
	.nav-tabs>li{width:100%;border-right:1px solid #e6e6e6;text-align:center;}
	.header-wrapper {
		.header{
			height:auto;
			display:table;
			div{width:33%;}
			.header-price, .exit, .header-id{margin-left:0px;text-align:center;}
			.dynamic{
				display:table;
				width:100%;
				right:0px;
				position:inherit;
				div{
					display:table;
					padding:20px;
					width:100%;
					button{display:block;margin:0px auto}
					}
			}
			}
		.logo{
			width:100%;
			display:table-row;
			margin:15px auto;
			float:left;
			.loyalty{width:100%}
			img { 
				display:block;
				margin:0px auto;
			}
			.static{display:table;}
		}
	}
	
	.header-wrapper .header .static>div{width:33%;display:table-cell}	
	.header-wrapper .header .static{display:table;width:100%}
	.header-wrapper .header .static .logo.loyalty{width:100%;}
	.header-wrapper .header .static .logo a{display:block}
	.header-wrapper .header .static .logo{width:100%;}
	.page-container .catalog-category .element{width:32%;}
	.substrate .info-block{width:90%;padding:5%;}
	
	.cabinet{
		.history {
			.stroke{
				div{display:table-row;}
				.cell1{text-align:center;font-size:32px;line-height:60px;}
				.cell2{text-align:center;}
				.cell3{text-align:center;}
				}	
			.history-button{display:table;}	
				}
		.categories a{display:block;width:50%;float:left}		
		}
}

@media screen and (max-width: 1000px) {
    .content-page {
        margin-left: 0px
    }
    .category-befor .search {
        width: 100%;
        margin: 20px 0px;
    }
    .back {
        display: none
    }
    .catalog-category .element {
        width: 32%;
    }
    .btn-sort {
        width: 100%;
        margin: 15px 6px;
    }

    .button-basket>div {
	  	
      width: 100%;
    }
	.button-basket>div button{width:235px;}
	.button-basket>div .btn-send,.button-basket>div .btn-class1{font-size:16px;}
}

@media screen and (max-width: 800px) {
    .basket-content .element>div {
        display: table-row;
        text-align: center;
    }
    .basket-content .element .title-content-basket .price-content-basket {
        width: 100%;
        text-align: center;
    }
    .button-basket>div button {
        width: 100%;
        float: left;
    }
    .button-basket>div .btn-send {
        margin: 20px auto
    }
    .basket-content .element .input-content-basket {
        display: table;
        float: left;
        width: 50%;
    }
    .basket-content .element .total-price-content-basket {
        float: left;
        width: 50%;
        text-align: right;
    }
    .category-befor {
      .clearfix;
	  padding-bottom:0px;
	  padding-top:0px;
	  
    }
		.menu-header {
		  width: 25%;
		  margin-right: 5%;
		  float:left;
		  margin-top:30px;
		  button {
			width: 100%;
		  }
    .inner__content {
      padding: 0 10px
    }
	
    }
    .help {
      &__form {
        max-width: 100%;
        .textbox {
          span {
            display: block;
            float: none;
            width: 100%;
			padding-bottom:30px;
          }
          .select,
          input {
            float: none;
            width: 100%;
          }
        }
      }
    }
	span.path__link,.path__link{font-size:16px;}
	
	
}

@media (min-width: 768px) and (max-width: 800px) {
	.order{
		.category-befor{
			padding-top:0px;
			padding-bottom:0px;
				.breadcrumbs{height:0px;}
			}
	}
}

@media screen and (max-width: 600px) {
    .page-wrapper {
      padding: 0 20px;
    }
    .category-befor .search img {
        margin-right: 5px
    }
	.breadcrumbs{width:100%;text-align:center;}
    .header-wrapper .header {
    }
    .header-wrapper .header .dynamic {
        position: relative;
        display: table-row;
        width: auto;
		height:auto;
		div{width:100%}
    }
	
	.header{
			height:auto;
			display:table;
			div{width:100%;display:table-row}
			.header-price, .exit, .header-id{margin-left:0px;text-align:center;}
			}	
	
    .footer-cart #cart-footer {
        width: 100%;
		max-width:457px;
		float:left;
    }
    .footer-cart {
        padding: 15px;
    }
    .catalog-category .element {
        width: 48%;
    }
    .inner__content {
      padding: 0;
    }

	
    .category-befor .menu-header {
      width: 45%;
      margin-right: 5%;
      button {
        width: 100%;
      }
    }
    .category-befor .search {
      width: 45%;
      background: #fff;
	  float:right;
      border-radius: 4px;
      border: 2px solid transparent;
      border-bottom: 2px solid transparent;
      margin: 0;
	  margin-top:30px;
      &:not(:hover) {
          box-shadow: 0 0 2px #cccccc;
      }
      input {
        width: 80%;
      }
    }
	.button-list{
		button{width:100%;margin-top:10px;}
	}
	.substrate .form-block{max-width:420px;}
	.category-befor .desc-basket{width:100%;text-align:center;padding-top:0px}
	.page-container .catalog-category .element{width:49%;}
}		