.btn {
    padding: 0 @indent-default;
    margin: 0;

    border-radius: @border-radius-default;
    height: @btn-height-default;
    cursor: pointer;

    &:not([disabled]) { cursor: pointer; }

    &.btn-light {
        border: @btn-border-width transparent solid;
        background-color: white;

        font-family: @family-proxima-lt;
        font-size: @btn-font-size-default;

        &:not(:hover) {
            box-shadow: 0 0 @btn-border-width @btn-light-border;
        }

        &:hover {
            border-width: @btn-border-width;
            border-color: @btn-light-border-hover;
        }

        *:nth-child(even) {
            margin-left: @indent-small;
        }
    }

    &.btn-bright {
        box-shadow: 0 -2px 0 @btn-bright-shadow inset;
        background-color: @btn-bright-bg;
        border: none;

        font-family: @family-proxima-rg;
        font-size: @btn-font-size-medium;

        &::-moz-focus-inner { border: none; }

        &:hover {
            background-color: @btn-bright-bg-active;
        }
    }
}

.textbox {
    position: relative;

    .toolbar {
        position: absolute;
        right: @indent-default;
        top: @textbox-border-width;

        height: @textbox-height-default - @textbox-border-width*2;

        a {
            font-family: @family-proxima-lt;
            font-size: @font-size-small;

            line-height: @textbox-height-default;
            height: inherit;

            color: @textbox-link-color;
        }
    }

    input {
        padding: 0 @indent-default;

        border-radius: @border-radius-default;
        border: @textbox-border-width @textbox-border solid;

        line-height: @textbox-height-default;
        height: @textbox-height-default;

        font-family: @family-proxima-rg;
        font-size: @textbox-font-size;

        width: 100%;

        &:focus {
            border-color: @textbox-border-focus;
        }
    }

    textarea {
        padding: @indent-default;

        border-radius: @border-radius-default;
        border: @textarea-border-width @textbox-border solid;

        height: @textarea-height-default;

        font-family: @family-proxima-rg;
        font-size: @textbox-font-size;

        width: 100%;

        resize: none;
        scrollbar-base-color: @scroll-collor;


        &:focus {
            border-color: @textbox-border-focus;
        }

        &::-moz-placeholder {
            padding-top:@textarea-placeholder-padding-top;
        }
        &:-ms-input-placeholder {
            padding-top:@textarea-placeholder-padding-top;
        }
        &::-webkit-input-placeholder {
            padding-top:@textarea-placeholder-padding-top;
        }
    }

    &.passwordbox {
        input {
            padding-right:64px;
        }
        .eye {
            position:absolute;
            display:inline-block;
            cursor: pointer;
            width: 24px;
            height: 20px;
            right:20px;
            top:18px;
            background-image: url(../assets/img/eyes.png);
            background-position: 0 0;
        }
        input[type=password] + .eye {
            background-position: 0 20px;
        }
    }
}

.simple__table {
  font-family: 'Proxima Nova Rg';
  border-collapse: collapse;
  font-size: 14px;
  line-height: 1.2em;
  max-width: 1060px;
  margin:0 auto 45px;
  th {
    text-align: left;
    color: @table-heading-color;
    font-family: 'Proxima Nova Rg';
    font-weight: normal;
    height: 40px;
    line-height: 12px;
  }
  tr {
    border-bottom: 1px solid @table-border-color;
    padding: 0 10px;
  }
  td {
    padding: 20px 0;
    color: @table-text-color;
  }
}

::-webkit-scrollbar-thumb {
    .border-right-radius(@scroll-radius);
    .border-left-radius(@scroll-radius);
    background-color:@scroll-collor;
}
::-webkit-scrollbar {
    width: @scroll-width;
}

.styled-select {
  border-radius: 4px;
  border: 1px #e0e0e0 solid;
  line-height: 50px;
  height: 54px;
  position: relative;

  &::before {
    content: '';
    display: block;
    background: #fff;
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: @selectbox-chevron-color;
    height: 12px;
    width: 12px;
    right: 20px;
    top: 50%;
    margin-top: -10px;
    position: absolute;
    transform: rotate(135deg);
    z-index: 10;
  }
  &::after {
    content: '';
    display: block;
    background: #fff;
    height: 30px;
    width: 30px;
    right: 0px;
    top: 50%;
    margin-top: -15px;
    position: absolute;
    z-index: 5;
  }

  select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: inherit;
    padding: 0 18px; /* If you add too much padding here, the options won't show in IE */
    width: 100%;
    font-family: 'Proxima Nova Rg';
    font-size: 20px;
  }
}
